<div class="customers-section">

    <div class="section-copy">

        <h3><a href="<?php
echo $this->url(array(
    'groupIdent' => 'clients',
    'publicationIdent' => $this->ident), 'default_publication_detail', true);
?>"><?php echo $this->title; ?></a></h3>

        <div class="news-hd-image"><a href="<?php
            echo $this->url(array(
                'groupIdent' => 'clients',
                'publicationIdent' => $this->ident), 'default_publication_detail', true);
?>"><img alt="<?php echo $this->title; ?>" src="/images/publication/<?php echo $this->thumbnail; ?>"></a></div>

        <p><?php echo $this->truncate(strip_tags($this->body), 500); ?> <a class="blue" href="<?php
            echo $this->url(array(
                'groupIdent' => 'clients',
                'publicationIdent' => $this->ident), 'default_publication_detail', true);
?>">Детальнее</a></p><div class="clr"></div>

    </div>

</div>

