<div class="breadcrumbs">
    <p>
        <a href="<?php echo $this->url(array('lang' => $this->currentLang), 'default', true); ?>"><?php echo $this->translate(_('Main')); ?></a>
        &raquo;        
    </p>
</div>
<div class="content_box center">
    <div class="content_block_title">
        <h1><?php echo $this->translate("Publications"); ?></h1>
    </div>
    <!-- content begin -->
    <div class="box_center_content">

        <?php foreach($this->publication_group as $group) : ?>
            <div class="pub_name">
                <a title="<?php echo $group->name; ?>" href="<?php
                echo $this->url(array('lang' => $this->currentLang,
                    'groupIdent' => $group->ident
                    ), 'default_publication', true);
                            ?>" class="img_primary" >
                    <?php echo $group->name;?>
                </a>
            </div>
            <div class="pub_desc">
                <?php echo $group->description;?>
            </div>
        <?php endforeach; ?>
    </div>
    <!-- content begin -->
</div>

