<div class="breadcrumbs">
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a itemprop="url" href="<?php echo $this->url(array('lang' => $this->currentLang), 'default', true); ?>">
            <span itemprop="title"><?php echo $this->translate(_('Main')); ?></span>
        </a>
    </div>
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a itemprop="url" href="<?php
echo $this->url(array(
    'lang' => $this->currentLang,
    'groupIdent' => $this->publication_group->ident), 'default_publication', true);
?>">
            <span itemprop="title"><?php echo $this->Escape($this->title); ?></span>
        </a>
    </div>
    <span class="clr"></span>
</div>
<div class="title_box">
    <h1><?php echo $this->publication_group->name; ?></h1>
</div>
<div class="publication_index">
    <?php if (count($this->publication_category)): ?>
        <div class="publication_categories_box">
            <?php foreach ($this->publication_category as $key => $category): ?>
                <?php if (($key % 3) == 0 AND $key > 0): ?>
                    <div class="clr"></div>
                <?php endif; ?>
                <div class="product <?php echo (($key % 3) == 0) ? 'first' : ''; ?>">
                    <h3><a class="btn" href="<?php
        echo $this->url(array('lang' => $this->currentLang,
            'groupIdent' => $this->publication_group->ident,
            'categoryIdent' => $category->ident), 'default_publication_category', true);
                ?>" title="<?php echo $this->Escape($category->name); ?>"><?php echo $this->Escape($category->name); ?></a></h3>
                    <div class="pr">
                        <?php if ('' != $category->thumbnail) : ?>
                            <a href="<?php
                echo $this->url(array('lang' => $this->currentLang,
                    'groupIdent' => $this->publication_group->ident,
                    'categoryIdent' => $category->ident), 'default_publication_category', true);
                            ?>" title="<?php echo $this->Escape($category->name); ?>">
                                <img title="<?php echo $this->Escape($category->description_img); ?>" alt="<?php echo $this->Escape($category->description_img); ?>" src="/images/publication/category/<?php echo $category->thumbnail; ?>" />
                            </a>
                        <?php endif; ?>
                        <p><?php echo $this->truncate(strip_tags($category->description), 250, ' '); ?></p>                        
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
        <div class="clr"></div>
    <?php else: ?>

        <?php echo isset($this->category) ? '<p>' . $this->category->description . '</p>' : ''; ?>
        <?php $publication_counter = 0; ?>
        <?php if (count($this->publications)): ?>
            <div class="publication_box col4 p_type_<?php echo $this->publication_group->ident; ?>">
                <?php foreach ($this->publications AS $key => $publication) : ?>
                   <?php echo (0 == $key % 4 AND $key != 0)? '<div class="clear"></div>' : ''; ?>
                    <div class="col news <?php echo 0 == $key % 4 ? 'first' : ''; ?>">
                        <p class="date"><?php echo date($publication->date_format, strtotime($publication->date_post)); ?></p>
                        <a href="<?php
            echo $this->url(array('lang' => $this->currentLang,
                'groupIdent' => $publication->publication_group_ident,
                'publicationIdent' => $publication->ident), 'default_publication_detail', true);
                    ?>" class="ttl"><?php echo $publication->title; ?></a> 
                        
                        <p><?php echo $this->truncate(strip_tags($publication->body), 250, ' '); ?></p>
                    </div>                    
                    <?php $publication_counter++; ?>
                <?php endforeach; ?>
                <div class="clr"></div>
                <?php if (count($this->publications)): ?>
                    <?php if ($this->publications instanceof Zend_Paginator): ?>
                        <?php echo $this->pagination($this->pagination_config)->create_links(); ?>
                    <?php endif; ?>
                <?php endif; ?>
            </div>
        <?php endif; ?>
        <div class="clr"></div>
    <?php endif; ?>
</div>
