<div class="breadcrumbs">
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a itemprop="url" href="<?php echo $this->url(array('lang' => $this->currentLang), 'default', true); ?>">
            <span itemprop="title"><?php echo $this->translate(_('Main')); ?></span></a>»</div>
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a itemprop="url" href="<?php
echo $this->url(array(
    'lang' => $this->currentLang,
    'groupIdent' => $this->publication_group->ident), 'default_publication', true);
?>">
            <span itemprop="title"><?php echo $this->Escape($this->publication_group->name); ?></span></a>»</div>
            
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        
            <span itemprop="title"><?php echo $this->Escape($this->publication->title); ?></span></div>
    
    <span class="clr"></span>
</div>

    <h1 class="title3"><?php echo $this->publication->title; ?></h1>
<div class="text publication_view">

    <?php /* if ('' != $this->publication->full) : ?>
      <a href="/images/publication/<?php echo $this->publication->full; ?>" class="lightbox" title="<?php echo $this->publication->title; ?>">
      <img align="left" alt="<?php echo $this->publication->title; ?>" src="/images/publication/<?php echo $this->publication->preview; ?>" />
      </a>
      <?php endif; */ ?>
    <?php echo $this->publication->body; ?>
    <div class="clear"></div>
    <div class="publication_view_soc">

        <div class="social_button">
            <?php $this->placeholder('vk_like')->set("
                          <script type=\"text/javascript\" src=\"http://userapi.com/js/api/openapi.js?45\"></script>
                          <script type=\"text/javascript\"> 
                          VK.init({apiId: 3353945, onlyWidgets: true});
                          </script>"); ?>

            <div id="vk_like"></div>
            <script type="text/javascript">
                VK.Widgets.Like("vk_like", {type: "mini"});
            </script>
            <div class="clr"></div>
        </div>
        <?php /*
          <div class="social_button">
          <?php $this->placeholder('odkl_share')->set("
          <link href=\"http://stg.odnoklassniki.ru/share/odkl_share.css\" rel=\"stylesheet\">
          <script src=\"http://stg.odnoklassniki.ru/share/odkl_share.js\" type=\"text/javascript\" ></script>"); ?>
          <?php $this->placeholder('odkl_init')->set("onload=\"ODKL.init();\""); ?>

          <a class="odkl-klass-oc" href="<?php
          echo $this->url(array(
          'categoryIdent' => $this->category->ident,
          'productIdent' => $this->product->ident), 'catalog_category_product', true)
          ?>" onclick="ODKL.Share(this);return false;" ><span>0</span></a>
          <div class="clr"></div>
          </div> */ ?>

        <div class="social_button">
            <g:plusone size="medium"></g:plusone>

            <script type="text/javascript">
                window.___gcfg = {lang: 'ru'};

                (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
            </script>
            <div class="clr"></div>
        </div>

        <div class="social_button">
            <?php $this->placeholder('fb_like')->set("
                          <div id=\"fb-root\"></div>
                          <script>(function(d, s, id) {
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) return;
                          js = d.createElement(s); js.id = id;
                          js.src = \"//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=160383284063150\";
                          fjs.parentNode.insertBefore(js, fjs);
                          }(document, 'script', 'facebook-jssdk'));</script>"); ?>
            <div class="fb-like" data-send="false" data-layout="button_count" data-width="150" data-show-faces="true" data-font="arial"></div>
            <div class="clr"></div>
        </div>

        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
