
<div class="box">
    <h4 class="white ">

        <div><?php echo $this->translate(_('Menu')); ?> "<?php echo $this->Escape($this->menu->name); ?>"</div>
    </h4>
    <div class="box-container ">
        <div>
            <?php if (count($this->menu_items)): ?>
                <form  method="post" action="<?php echo $this->url(array('controller' => 'menus','action' => 'sort', 'menu_id' => $this->menu_id), 'admin', true); ?>" enctype="application/x-www-form-urlencoded"><table class="table-long">
                        <thead>
                            <tr>
                                <th></th>                                                          
                                <th><?php echo $this->translate(_('Name')); ?></th>
                                <th><?php echo $this->translate(_('Link')); ?></th>
                                <th><?php echo $this->translate(_('Sorting')); ?></th>
                                <th><?php echo $this->translate(_('Actions')); ?></th>                        </tr>
                        </thead>
                        <tbody>


                            <?php foreach ($this->menu_items as $menu_item): ?>
                                <tr id="menu_item_<?php echo $menu_item->sort_order; ?>"<?php echo ($menu_item->status == 1)?"":' bgcolor="#ff9999"'?>>
                                    <td class="col-chk"></td>
                                    <td class="col-first"><?php echo $this->Escape($menu_item->name); ?></td>
                                    <td class="col-second"><a target="_blank" href="<?php echo $menu_item->uri; ?>"><?php echo $this->Escape($menu_item->uri); ?></a></td>
                                    <td class="col-second">
                                        <input style="width:30px;" value="<?php echo $menu_item->sort_order; ?>" id="sort_order_<?php echo  $menu_item->menu_item_id; ?>" name="sort_order[]"/>                                            
                                        <input type="hidden" name="id[]" value="<?php echo  $menu_item->menu_item_id; ?>"  />

                                        <a href="<?php
                        echo $this->url(array(
                            'controller' => 'menus',
                            'action' => 'sort',
                            'id' => $menu_item->menu_item_id,
                            'move' => 'up',
                            'menu_id' => $menu_item->menu_id
                                ), 'admin', true);
                                ?>"><img alt="вверх" src="/layout/icons/up.png"/></a>
                                        <a href="<?php
                                   echo $this->url(array(
                                       'controller' => 'menus',
                                       'action' => 'sort',
                                       'id' => $menu_item->menu_item_id,
                                       'move' => 'down',
                                       'menu_id' => $menu_item->menu_id
                                           ), 'admin', true);
                                ?>"><img alt="<?php echo $this->translate(_('down')); ?>" src="/layout/icons/down.png"/></a>  

                                    </td>
                                    <td class="row-nav">
                                        <a class="table-edit-link" href="<?php
                                   echo $this->url(array(
                                       'controller' => 'menus',
                                       'action' => 'edit-menu-item',
                                       'id' => $menu_item->menu_item_id,
                                       'menu_id' => $this->menu_id), 'admin', true)
                                ?>"><?php echo $this->translate(_('edit')); ?></a>

                                        <span class="hidden"> | </span>

                                        <a class="table-delete-link"  href="<?php
                                   echo $this->url(array(
                                       'controller' => 'menus',
                                       'action' => 'delete-menu-item',
                                       'id' => $menu_item->menu_item_id,
                                       'menu_id' => $this->menu_id), 'admin', true)
                                ?>"><?php echo $this->translate(_('delete')); ?></a>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                    <input type="submit" id="submit" class="submit" value="<?php echo $this->translate(_('Save')); ?>" name="submit"/>
                </form>
            <?php else: ?>
                <p><?php echo $this->translate(_('Menu is empty')); ?></p>
            <?php endif; ?>
        </div>
    </div>
</div>
