
<div class="box">
    <h4 class="white ">
        <div><?php echo $this->translate(_('Menu')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
            <?php if (count($this->menus)): ?>
                <form  method="post" action="" enctype="application/x-www-form-urlencoded"><table class="table-long">
                        <thead>
                            <tr>
                                <th></th>                          
                                <th><?php echo $this->translate(_('Name')); ?></th>                           
                                <th><?php echo $this->translate(_('Sorting')); ?></th>
                                <th><?php echo $this->translate(_('Actions')); ?></th>
                            </tr>
                        </thead>

                        <tbody>

                            <?php foreach ($this->menus as $menu): ?>
                                <tr<?php echo ($menu->status == 1)?"":' bgcolor="#ff9999"'?>>
                                    <td class="col-chk">&nbsp;</td>                           
                                    <td class="col-first">
                                        <a class="table-menu-link" href="<?php
                        echo $this->url(array(
                            'controller' => 'menus',
                            'action' => 'list-menu-item',
                            'menu_id' => $menu->menu_id), 'admin', true)
                                ?>"><?php echo $this->Escape($menu->name); ?></a>
                                    </td>                   
                                    <td class="col-second"><?php echo $this->Escape($menu->sort_order); ?></td>
                                    <td class="row-nav">
                                        <?php if ('Root' == $this->AuthInfo('role')): ?>
                                        <a class="table-edit-link" href="<?php
                                   echo $this->url(array(
                                       'controller' => 'menus',
                                       'action' => 'edit',
                                       'id' => $menu->menu_id), 'admin', true)
                                ?>"><?php echo $this->translate(_('edit')); ?></a>

                                        <span class="hidden"> | </span>

                                        <a class="table-delete-link"  href="<?php
                                   echo $this->url(array(
                                       'controller' => 'menus',
                                       'action' => 'delete',
                                       'id' => $menu->menu_id), 'admin', true)
                                ?>"><?php echo $this->translate(_('delete')); ?></a>
                                          <?php endif; ?>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    <?php endif; ?>
                </table>
               <?php /* <input type="submit" id="submit" class="submit" value="<?php echo $this->translate(_('Save')); ?>" name="submit"/>*/?>
            </form>
        </div>
    </div>
</div>


