<div class="breadcrumbs">    
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a itemprop="url" href="<?php echo $this->url(array('lang' => $this->currentLang), 'default', true); ?>">
            <span itemprop="title"><?php echo $this->translate(_('Main')); ?></span>
        </a>
    </div>
    <span class="clr"></span>
</div>
<div class="title_box">
    <h1><?php echo $this->title; ?>:</h1>
    <p><?php echo $this->Escape($this->query) ?> </p>
</div>

<div class="search_box">
    <?php if (empty($this->hits)) : ?>
        <h3><?php echo $this->translate(_('Your search returned no results')); ?></h3>
    <?php else : ?>
        <?php foreach ($this->hits as $hit) : ?>
            <div class="serch_result_item">
                <h3><a href="<?php echo $hit['url']; ?>" title="<?php echo $hit['title']; ?>"><?php echo $hit['title']; ?></a></h3>
                <p class="search_item"><?php echo $this->truncate($hit['body'], 1024, ' ', '...'); ?></p>
                <a href="<?php echo $hit['url']; ?>" class="btn"><?php echo $this->translate(_('Read More')); ?></a>
            </div>
            <br/>
        <?php endforeach; ?>
    <?php endif; ?>

    <div class="clear"></div>
</div>
    <div class="clear"></div>