<ul id="menu">
    <li><a href="<?php echo $this->url(array('controller' => 'customer', 'action' => 'list'), 'admin', true); ?>" title="<?php echo $this->translate(_('Users')); ?>"></a><?php echo $this->translate(_('Users')); ?></li>
    <li><a href="<?php echo $this->url(array('controller' => 'catalog', 'action' => 'list'), 'admin', true); ?>" title="<?php echo $this->translate(_('Catalog')); ?>"><?php echo $this->translate(_('Catalog')); ?></a></li>
    <li><a href="<?php echo $this->url(array('controller' => 'gallery', 'action' => 'list'), 'admin', true); ?>" title="<?php echo $this->translate(_('Photo Gallery')); ?>"><?php echo $this->translate(_('Photo Gallery')); ?></a></li>
    <li><a href="/" title="<?php echo $this->translate(_('Go to site')); ?>"><?php echo $this->translate(_('Go to site')); ?></a></li>
</ul>
