<?php if ($this->fileGroupsMenuAdm) : ?>
<div class="box">
        <h4 class="yellow"><div><?php echo $this->translate(_('Groups')); ?></div></h4>
        <div class="box-container">
            <div><!-- use no-padding wherever you need element padding gone -->
                <?php echo $this->navigation()->menu()->setMinDepth(0)->setMaxDepth(5)->setUlClass('categories-menu-adm')->renderMenu($this->fileGroupsMenuAdm()); ?>
            </div>
        </div><!--end of div.box-container -->
    </div><!-- end of div.box --><!--end of div.box --><!-- end of div.box -->
<?php endif; ?>