<?php if ($this->categoriesMenuAdm) : ?>
    <div class="box">
        <h4 class="yellow"><div><?php echo $this->translate(_('Categories')); ?></div></h4>
        <div class="box-container">
            <div><!-- use no-padding wherever you need element padding gone -->
                <?php echo $this->navigation()->menu()->setMinDepth(0)->setMaxDepth(5)->setUlClass('categories-menu-adm')->renderMenu($this->categoriesMenuAdm); ?>    
                <script type="text/javascript">                                                                                                                      
                    $("ul.categories-menu-adm li ul li").each(function(){
                        var link =  $(this).children('a').attr('href').replace('index/list/category_id', 'category/edit/id');
                        $(this).children('a').after("&nbsp;&nbsp;<a class='category-edit' href=\""+link+"\">[ред.]</a>");
                    });
                </script>
            </div>
        </div><!--end of div.box-container -->
    </div><!-- end of div.box --><!--end of div.box --><!-- end of div.box -->
<?php endif; ?>