<?php
    $banners = $this->getBanners('LEFT');
    $site_settings = Zend_Registry::get('site_settings');
?>

        <div class="wrap">
        	<h3 class="title"><?php echo $site_settings['title_brend']?></h3>
            
            <div class="car_wr">
               <div class="jcarousel-skin-default">
                    <div class="jcarousel" id="jcarousel">
                        <ul>
                            <?php foreach($banners as $key => $banner):?>
								<li><a href="<?php echo $banner->url?>"><img src="/images/banner/<?php echo $banner->full?>" width="227" height="70" alt="<?php echo $banner->title?>" /></a></li>
							<?php endforeach;?>
                        </ul>
                    </div>
                    <a class="car_btn lbtn" href="#" onClick="$('#jcarousel').jcarousel('scroll', '-=1'); return false;"></a>
                    <a class="car_btn rbtn" href="#" onClick="$('#jcarousel').jcarousel('scroll', '+=1'); return false;"></a>
                    <div class="clear"></div>
               </div>
            </div>              
            
        </div>