<?php
    $ident = 'novosti';
    $count = $this->getPublicationGroupByIdent($ident);
    $news = $this->lastPublications($ident, $count->count_on_main);
    $publications = $news->getPublications();

    $site_settings = Zend_Registry::get('site_settings'); 
?>

        <?php if (0 < count($news)): ?>
    	<div class="top_line">
    		<div class="wr">
            	<div class="wr2">
                	<div class="wrap">
                    
                        <div class="news_list side_news side_news2 ">
                        	<h3 class="title"><?php echo $site_settings['title_news'] ?></h3>

                            <?php $k=0;foreach($publications as $key => $publication):?>
                            <div class="news<?php echo (0 == $k++)?' first':''?>">
                                <a class="news_link" href="<?php
        echo $this->url(array('lang' => $this->currentLang,
            'groupIdent' => $publication->publication_group_ident,
            'publicationIdent' => $publication->ident), 'default_publication_detail', true);
                ?>">
                                <p class="date"><?php echo $news->rdate($site_settings['date_format_news'], strtotime($publication->date_post)); ?></p>
                                <p><?php echo $this->truncate(strip_tags($publication->body), 180, ' '); ?></p></a>
                            </div>
                            <?php endforeach;?>

                            <div class="clear"></div>
                            <p class="more"><a href="/ru/publication/<?php echo $ident?>"><?php echo $site_settings['insc_all_news'] ?></a></p>                    
                    	</div>
                        
                    </div>
                </div>
            </div>
    	</div>
        <?php endif;?>