<? 
	$ident = 'poleznyie-stati';
    $group = $this->getPublicationGroupByIdent($ident);
    $items = $this->lastPublications($ident, $group->count_on_main); 
    $publications = $items->getPublications();

    $site_settings = Zend_Registry::get('site_settings'); 
?>
<div class="wrap">

		<div class="title_pad">
		    <p class="more"><a href="/ru/publication/<?php echo $ident;?>"><?php echo $site_settings['insc_all_stati'] ?></a></p>
		    <h3 class="title"><?php echo $site_settings['title_stati'] ?></h3>
		</div>
			<div class="slider_wr">
                <span id="slider_prev" class="slider_btn"></span>
                <span id="slider_next" class="slider_btn"></span>            
                <div id="slider">
                    
                <? $k=0;foreach ($publications as $key => $item): ?>
                    <? if ($k % 3 == 0):?>
                        <div>
                    <? endif;?>
                    <a class="hot_news" href="<?php
        echo $this->url(array('lang' => $this->currentLang,
            'groupIdent' => $item->publication_group_ident,
            'publicationIdent' => $item->ident), 'default_publication_detail', true);
                ?>">
                        <span class="img"><img src="/images/publication/<?php echo $item->thumbnail?>" width="79" height="79" alt="" /></span>
                        <span class="txt"><span><?php echo $item->title?></span></span>
                    </a>
                    <? if (++$k % 3 == 0):?>
                            <div class="clear"></div>
                        </div>
                    <? endif;?>
                <? endforeach;?>

                    <? if ($k % 3 != 0):?>
                            <div class="clear"></div>
                        </div>
                    <? endif;?>

                </div>
		</div>
</div>