<?php $slider = $this->getSlider(); ?>

<?php if ($slider): ?>
<div class="wrap">
  <div class="slider_box">
    <ul id="slider">
    <?php foreach ($slider as $slide): ?>
      <li>
        <a href="<?php echo $slide->url; ?>">
          <img src="/images/slider/<?php echo $slide->full; ?>" width="1920" height="583" alt="<?php echo $slide->title; ?>" />
        </a>
      </li>
    <?php endforeach; ?>
    </ul>
  </div>
</div>
<?php endif; ?>