<dl class="zend_form">
    <div class="line">
        <div class="fll">
            <dd id="name-element" <?php echo (0 < count($this->element->fio->getMessages())) ? 'class="has_errors"' : ''; ?>>    
                <?php echo $this->element->fio; ?>
                <?php if(0 < count($this->element->fio->getMessages())): ?>
                    <?php echo $this->formErrors($this->element->fio->getMessages()); ?>
                <?php endif; ?>
            </dd>
            <dd class="clr"></dd>

            <dd id="town-element" <?php echo (0 < count($this->element->city->getMessages())) ? 'class="has_errors"' : ''; ?>>
                <?php echo $this->element->city; ?>
                <?php if(0 < count($this->element->city->getMessages())): ?>
                    <?php echo $this->formErrors($this->element->city->getMessages()); ?>
                <?php endif; ?>
            </dd>
            <dd class="clr"></dd>

            <dd id="telephone-element" <?php echo (0 < count($this->element->phone->getMessages())) ? 'class="has_errors"' : ''; ?>>
                <?php echo $this->element->phone; ?>
                <?php if(0 < count($this->element->phone->getMessages())): ?>
                    <?php echo $this->formErrors($this->element->phone->getMessages()); ?>
                <?php endif; ?>
            </dd>
            <dd class="clr"></dd>
            
            <dd id="Email-element" <?php echo (0 < count($this->element->email->getMessages())) ? 'class="has_errors"' : ''; ?>>
                <?php echo $this->element->email; ?>
                <?php if(0 < count($this->element->email->getMessages())): ?>
                    <?php echo $this->formErrors($this->element->email->getMessages()); ?>
                <?php endif; ?>
            </dd>
            <dd class="clr"></dd>

        </div>
        <div class="flr">
            <dd id="msg_theme-element" <?php echo (0 < count($this->element->subject->getMessages())) ? 'class="has_errors"' : ''; ?>>
                <?php echo $this->element->subject; ?>

                <?php if(0 < count($this->element->subject->getMessages())): ?>
                    <?php echo $this->formErrors($this->element->subject->getMessages()); ?>
                <?php endif; ?>
            </dd>
            <dd class="clr"></dd>

            <dd id="message-element" <?php echo (0 < count($this->element->message->getMessages())) ? 'class="has_errors"' : ''; ?>>
                <?php echo $this->element->message; ?>

                <?php if(0 < count($this->element->message->getMessages())): ?>
                    <?php echo $this->formErrors($this->element->message->getMessages()); ?>
                <?php endif; ?>
            </dd>
            <dd class="clr"></dd>
        </div>
        <div class="clear"></div>

        <dd id="captcha-element" <?php echo (0 < count($this->element->captcha->getMessages())) ? 'class="has_errors"' : ''; ?>>
            <?php echo $this->element->captcha; ?>
            <span id="reload_captcha"></span>
            <span class="element_submit" ><span><?php echo $this->element->submit; ?></span></span>
            <label class="err_label">
            <?php if(0 < count($this->element->captcha->getMessages())): ?>
                <?php echo $this->formErrors($this->element->captcha->getMessages()); ?>
            <?php endif; ?>
            </label>
            
        </dd>
        <dd class="clr"></dd>

    </div>

<?/*
    <dd id="captcha-element">
        <label id="captcha-input-label" class="required" for="captcha-input"><?php echo $this->element->captcha->getlabel(); ?></label>
        <?php echo $this->element->captcha; ?>
        <span id="reload_captcha"></span>
        <label class="err_label">
        <?php if(0 < count($this->element->captcha->getMessages())): ?>
            <?php echo $this->formErrors($this->element->captcha->getMessages()); ?>
        <?php endif; ?>
        </label>
    </dd>
    <dd class="clr"></dd>*/ ?>

    <? /*<dd>
        <p><?php echo $this->translate(_('Required fields are marked with an asterisk')); ?></p>
    </dd>*/ ?>
</dl>

<script type="text/javascript">
        $(function() {
            $("#captcha-id").after($("#reload_captcha"));

            $("#reload_captcha").click(function () {
                $.post("/contact/captcha", { },
                function(data){
                    $('#captcha-id').val(data.id);
                    $('#captcha-element img').attr('src', data.src);
                    $('#captcha-input').val('');
                }, "json");
                return false;                                                
            });
        });
</script>
