<?php
/**
 * Classic pagination style
 * 
 * @preview  ‹ First  < 1 2 3 >  Last ›
 */
?>
<p class="pagination">

  <?php if ($this->first_page): ?>
    <a href="<?php echo $this->url(array('page' => 1)); ?>">&lsaquo;&nbsp;<?php echo $this->translate(_('First')); ?></a>
  <?php endif ?>

  <?php if ($this->previous_page): ?>
    <a href="<?php echo $this->url(array('page' => $this->previous_page)); ?>">&lt;</a>
  <?php endif ?>


  <?php for ($i = 1; $i <= $this->total_pages; $i++): ?>

    <?php if ($i == $this->current_page): ?>
      <strong><?php echo $i ?></strong>
    <?php else: ?>
      <a href="<?php echo $this->url(array('page' => $this->current_page)); ?>"><?php echo $i ?></a>
    <?php endif ?>

  <?php endfor ?>


  <?php if ($this->next_page): ?>
    <a href="<?php echo $this->url(array('page' => $this->next_page)); ?>">&gt;</a>
  <?php endif ?>

  <?php if ($this->last_page): ?>
    <a href="<?php echo $this->url(array('page' => $this->last_page)); ?>"><?php echo $this->translate(_('Last')); ?>&nbsp;&rsaquo;</a>
  <?php endif ?>

</p>