<?php
/**
 * Digg pagination style
 * 
 * @preview  « Previous  1 2 … 5 6 7 8 9 10 11 12 13 14 … 25 26  Next »
 */
?>

<?php $query_string = !empty($_SERVER['QUERY_STRING']) ? '?' . $_SERVER['QUERY_STRING'] : ''; ?>

<div class="pagination digg">

<div class="pages">

	<?php if ($this->previous_page): ?>
		<a href="<?php echo $this->url(array('page' => $this->previous_page)) . $query_string;; ?>">&laquo;</a>
	<?php else: ?>
		<!--<span class="laquo">&laquo;</span>-->
	<?php endif ?>


	<?php if ($this->total_pages < 9): /* « Previous  1 2 3 4 5 6 7 8 9 10 11 12  Next » */ ?>

		<?php for ($i = 1; $i <= $this->total_pages; $i++): ?>
			<?php if ($i == $this->current_page): ?>
				<span class="current"><?php echo $i ?></span>
			<?php else: ?>
				<a href="<?php echo $this->url(array('page' => $i)) . $query_string;; ?>"><?php echo $i ?></a>
			<?php endif ?>
		<?php endfor ?>

	<?php elseif ($this->current_page < 5): /* « Previous  1 2 3 4 5 6 7 8 9 10 … 25 26  Next » */ ?>

		<?php for ($i = 1; $i <= 6; $i++): ?>
			<?php if ($i == $this->current_page): ?>
				<span class="current"><?php echo $i ?></span>
			<?php else: ?>
				<a href="<?php echo $this->url(array('page' => $i)) . $query_string;; ?>"><?php echo $i ?></a>
			<?php endif ?>
		<?php endfor ?>

		<span class="hellip">&hellip;</span>
		<a href="<?php echo $this->url(array('page' => $this->total_pages - 1)) . $query_string;; ?>"><?php echo $this->total_pages - 1 ?></a>
		<a href="<?php echo $this->url(array('page' =>  $this->total_pages )) . $query_string;; ?>"><?php echo $this->total_pages ?></a>

	<?php elseif ($this->current_page > $this->total_pages - 4): /* « Previous  1 2 … 17 18 19 20 21 22 23 24 25 26  Next » */ ?>

		<a href="<?php echo $this->url(array('page' => 1)) . $query_string;; ?>">1</a>
		<a href="<?php echo $this->url(array('page' => 2)) . $query_string;; ?>">2</a>
		<span class="hellip">&hellip;</span>

		<?php for ($i = $this->total_pages - 5; $i <= $this->total_pages; $i++): ?>
			<?php if ($i == $this->current_page): ?>
				<span class="current"><?php echo $i ?></span>
			<?php else: ?>
				<a href="<?php echo $this->url(array('page' => $i)) . $query_string;; ?>"><?php echo $i ?></a>
			<?php endif ?>
		<?php endfor ?>

	<?php else: /* « Previous  1 2 … 5 6 7 8 9 10 11 12 13 14 … 25 26  Next » */ ?>

		<a href="<?php echo $this->url(array('page' => 1)) . $query_string;; ?>">1</a>
		<a href="<?php echo $this->url(array('page' => 2)) . $query_string;; ?>">2</a>
		<span class="hellip">&hellip;</span>

		<?php for ($i = $this->current_page - 1; $i <= $this->current_page + 1; $i++): ?>
			<?php if ($i == $this->current_page): ?>
				<span class="current"><?php echo $i ?></span>
			<?php else: ?>
				<a href="<?php echo $this->url(array('page' => $i)) . $query_string;; ?>"><?php echo $i ?></a>
			<?php endif ?>
		<?php endfor ?>

		<span class="hellip">&hellip;</span>
		<a href="<?php echo $this->url(array('page' => $this->total_pages - 1)) . $query_string;; ?>"><?php echo $this->total_pages - 1 ?></a>
		<a href="<?php echo $this->url(array('page' => $this->total_pages )) . $query_string;; ?>"><?php echo $this->total_pages ?></a>

	<?php endif ?>


	<?php if ($this->next_page): ?>
		<a href="<?php echo $this->url(array('page' => $this->next_page)) . $query_string;; ?>">&raquo;</a>
	<?php else: ?>
		<!-- <span class="raquo">&raquo;</span>-->
	<?php endif ?>
	</div>
	<div class="pages_in">
	 &nbsp; <?php echo $this->translate(_('Page')); ?> <?php echo $this->current_page; ?> <?php echo $this->translate(_('of')); ?> <?php echo  $this->total_pages; ?>
</div>
<div class="clr"></div>
</div>
