<div class="box">
    <h4 class="white ">
        
        <div><?php echo $this->translate(_('Add object')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
            <?php echo $this->objectForm; ?>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>