<div class="box">
    <h4 class="white ">

        <div><?php echo $this->translate(_('Edit object')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
            <?php echo $this->objectForm; ?>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>

<?php if('' != $this->object->thumbnail): ?>
<script type="text/javascript">
    $(function()
    {
        $('#image-label').append('<br/><img alt="<?php echo $this->object->name; ?>" src="/www/images/object/<?php echo $this->object->thumbnail; ?>"/>');

    });
</script>
<?php endif; ?>