<div class="breadcrumbs">
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a itemprop="url" href="<?php echo $this->url(array('lang' => $this->currentLang), 'default', true); ?>">
            <span itemprop="title"><?php echo $this->translate(_('Main')); ?></span>
        </a>
    </div>
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <span itemprop="title"><?php echo $this->page->title; ?></span>
    </div>
    <span class="clr"></span>
</div> 

<div class="title_box">
    <h1><?php echo $this->Escape($this->page->title); ?></h1>
</div>
<div class="content_box text"> 
    <?php echo $this->page->body; ?>    
    <div class="clr"></div>
</div>


<div class="header_content">
    <!-- objects -->
    <div class="object map_wr2">
        <div id="map_canvas" class="map_box" ></div>
        <div class="clr"></div>
    </div>
    <!-- /objects -->

    <div class="obj_list">
        <?php foreach ($this->objects as $key => $object): ?>
            <span class="obj<?php echo $key % 3 == 0 ? ' first' : ''; ?>" id="object_<?php echo $object->object_id; ?>" ><?php echo $object->name; ?></span>
            <?php echo ($key % 3 == 0 AND $key != 0) ? '<div class="clear"></div>' : ''; ?>
        <?php endforeach; ?>
    </div>

</div>

<div id="object_window" class="window" style="width: 900px;">
    <div class="window_wrap">
        <span class='modalClose'></span>
        <div class="page order_wrap">            
            <div id="object_container_body">&nbsp;</div>  
        </div>
    </div>
</div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    
    var infowindow;
    (function () {

        google.maps.Map.prototype.markers = new Array();

        google.maps.Map.prototype.addMarker = function(marker) {
            this.markers[this.markers.length] = marker;
        };

        google.maps.Map.prototype.getMarkers = function() {
            return this.markers
        };

        google.maps.Map.prototype.clearMarkers = function() {
            if(infowindow) {
                infowindow.close();
            }

            for(var i=0; i<this.markers.length; i++){
                this.markers[i].set_map(null);
            }
        };
    })();


    function initialize() {
        var latlng = new google.maps.LatLng(55.74127, 37.620621);
        var myOptions = {
            zoom: 10,
            center: latlng,
            scrollwheel: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        
        var objects = <?php echo Zend_Json::encode($this->objects->toArray()) ?>;
        
        for (var i = 0; i < objects.length; i++) {
            var latlng = new google.maps.LatLng(objects[i].latitude, objects[i].longitude);
            map.addMarker(createMarker(latlng, objects[i]));
        }
        
              
        
          
    }
    
    function createMarker(latlng, object) {
        var marker = new google.maps.Marker({
            position: latlng, 
            map: map,
            title: object.title,
            icon: "/layout/obj.png"
        });
            
        var info  = "<div class=\"g_container\">";
        if (null != object.preview){
            info += "<div class=\"g_image\">";                
            info += "<img width=\"100px\" alt=\""+object.name+"\" class=\"g_image\" src=\"/images/object/"+object.preview+"\">";

            info += "<div class=\"clr\"></div></div>"                    
        }
        info += "<div class=\"g_info\">";
        info += "<div class=\"g_name\"><b>"+object.name+"</b></div>";                    
        info += "<div class=\"g_announce\">"+object.announce+"</div>";                 
        info += "<div class=\"g_more\"><span class=\"object_view\" onclick=\"$.cmf.showObject("+object.object_id+");\" id=\"object_view_"+object.object_id+"\"><?php echo $this->translate('Подробнее'); ?></span></div>";       
        info += "<div class=\"clr\"></div></div>";
        info += "<div class=\"clr\"></div>";
        info += "</div>";
            
        var infoWindowOptions = {
            content: info,
            maxWidth: 300
        };
            
        google.maps.event.addListener(marker, "click", function() {
            if (infowindow) infowindow.close();
            infowindow = new google.maps.InfoWindow(infoWindowOptions);
            infowindow.open(map, marker);
        });
            
        google.maps.event.addDomListener(document.getElementById("object_"+object.object_id), "click", function() {
            if (infowindow) infowindow.close();
            infowindow = new google.maps.InfoWindow(infoWindowOptions);
            infowindow.open(map, marker);
        });
            
        return marker;
    }
          
       
    window.onload = initialize;
</script>