<div class="box">
    <h4 class="white ">
        <div><?php echo $this->translate(_('Objects')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
            <?php if (count($this->objects)): ?>
                <form method="post" action="" enctype="application/x-www-form-urlencoded">
                    <table class="table-long">
                        <thead>
                            <tr>                        
                                <?php /*<th><?php echo $this->translate(_('Image')); ?></th>*/?>
                                <th><?php echo $this->translate(_('Name')); ?></th>                              
                                <th><?php echo $this->translate(_('Status')); ?></th>
                                <th><?php echo $this->translate(_('Actions')); ?></th>
                            </tr>
                        </thead>

                        <tbody>                         
                            <?php foreach ($this->objects as $object): ?>
                                <tr>                            
                                    <?php /*<td class="col-first">
                                        <?php if ($object->thumbnail): ?>
                                            <img height="50" alt="<?php echo $this->Escape($object->name); ?>" src="/images/object/<?php echo $this->Escape($object->thumbnail); ?>"/>
                                        <?php endif; ?>
                                    </td>*/ ?>
                                    <td class="col-second"><?php echo $this->Escape($object->name); ?></td>
                                    <td class="col-second"><?php echo $object->status ? 'Активный' : 'Неактивный'; ?></td>
                                    <td class="row-nav">
                                        <a class="table-edit-link" href="<?php
                                echo $this->url(array(
                                    'module' => 'location',
                                    'controller' => 'object',
                                    'action' => 'edit',
                                    'id' => $object->object_id), 'admin', true)
                                        ?>"><?php echo $this->translate(_('edit')); ?></a>

                                        <span class="hidden"> | </span>

                                        <a class="table-delete-link"  href="<?php
                                   echo $this->url(array(
                                       'module' => 'location',
                                       'controller' => 'object',
                                       'action' => 'delete',
                                       'id' => $object->object_id), 'admin', true)
                                        ?>"><?php echo $this->translate(_('delete')); ?></a>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>                
                    </table>
                    <?php /* <input type="submit" id="submit" class="submit" value="<?php echo $this->translate(_('Save')); ?>" name="submit"/> */ ?>
                </form>
            <?php endif; ?>
        </div>
    </div>
</div>