<?php /*<div class="breadcrumbs">
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a itemprop="url" href="<?php echo $this->url(array('lang' => $this->currentLang), 'default', true); ?>">
            <span itemprop="title"><?php echo $this->translate(_('Main')); ?></span>
        </a>
    </div>
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <span itemprop="title"><?php echo $this->object->name; ?></span>
    </div>
    <span class="clr"></span>
</div> 
*/ ?>

<div class="title_box">
    <h1><?php echo $this->Escape($this->object->name); ?></h1>
</div>
<div class="content_box"> 
    <?php echo $this->object->description; ?>    
    <div class="clr"></div>
</div>