<?php $site_settings = Zend_Registry::get('site_settings'); ?>


        <div class="btm_line">
            <div class="wrap">
                <div class="fll">
                    <h3 class="title"><?php echo $site_settings['menu_title_1'];?></h3>
                    <?php echo $this->makeMenu('bottom_left', 0, 3, '/menu/secondary.phtml'); ?>
                </div>
                <div class="fll">
                    <h3 class="title"><?php echo $site_settings['menu_title_2'];?></h3>
                    <?php echo $this->makeMenu('bottom_center', 0, 3, '/menu/secondary.phtml'); ?>
                </div>
                
                <div class="flr col2">
                    <p class="copyrights"><?php echo $site_settings['copyrights'];?></p>
                    <a href="" class="ft_logo"><img src="/layout/ft_logo.png" width="124" height="38" alt="" /></a>
                    <div class="clear"></div>
                    <p class="web_dev"><?php echo $this->translate('Powerd by'); ?></p>            
                    <a  target="_blank" title="Создание сайта. Хороший дизайн это хороший бизнес - Art-creative" href="http://art-creative.com.ua" class="web_dev_link"></a>
                </div>
                <div class="flr ">
                    <h3 class="title"><?php echo $site_settings['menu_title_3'];?></h3>
                    <div class="ft_contacts">
                        <p><a href="/contact#map"><?php echo $site_settings['contact_map'];?></a></p>
                        <p><a href="/contact#feedback_form"><?php echo $site_settings['contact_feedback'];?></a></p>

                        <?php //echo $this->makeMenu('bottom_right', 0, 3, '/menu/bottom.phtml'); ?>
                        <?php echo $this->makeMenu('social_bottom', 0, 3, '/menu/social.phtml'); ?>
                    </div>
                    <div class="clear"></div>
                    <p class="ft_tel"><?php echo $site_settings['phone_code']; ?><strong><?php echo $site_settings['phone_number']; ?></strong></p>
                </div>
                <div class="clear"></div>
            </div>
        </div>