<?php
$site_settings = Zend_Registry::get('site_settings');
//$currency = Zend_Registry::get('Currency');
//$currencies = $currency->getCurrencies();
//$user_id = $this->authInfo('user_id');
?>

                <div class="wrap">
                    <a class="logo" href="<?php echo $this->url(array('lang' => Zend_Registry::get('Current_Lang')), 'default', true); ?>">
                    	<img src="/layout/logo.png" width="304" height="297" alt="<?php echo $this->Escape($site_settings['site_name']); ?>"/></a>
                    
                    <div class="tm_wr">
                    	<?php echo $this->makeMenu('main', 0, 3, '/menu/main.phtml'); ?>
                    </div>
                    <div class="hd_tel">
                        <div>
                            <p><?php echo $site_settings['phone_code']; ?><strong><?php echo $site_settings['phone_number']; ?></strong></p>
                        </div>
                    </div>
                 </div>
	            
	            <?php //echo $this->render('blocks/lang.phtml') ?>
	            
	            


