<?php
//$this->headLink(array(
//    'rel' => 'shortcut icon',
//    'href' => $this->baseUrl('/favicon.ico'),
//    'type' => 'image/x-icon'
//));
?>
<?php $site_settings = Zend_Registry::get('site_settings'); ?>
<head>

    <?php $this->setEncoding('UTF-8'); ?>
    <?php $this->doctype('XHTML1_STRICT'); ?>

    <?php $this->headMeta()->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8'); ?>
    <?php $this->headMeta()->appendHttpEquiv('Content-Language', 'ru-RU'); ?>
    <?php $this->headMeta()->appendHttpEquiv('language', 'ru'); ?>

    <?php 
        if(strip_tags($site_settings['site_name']) != '')
            $this->headTitle(strip_tags($site_settings['site_name']));
    ?>

    <?php echo $this->headMeta() . PHP_EOL; ?>
    <?php echo $this->headTitle()->setSeparator(' - ') . PHP_EOL; ?>

    <meta name="author" lang="ru" content="<?php echo strip_tags($site_settings['site_name']); ?>" />
    <meta name="owner" content="<?php echo strip_tags($site_settings['site_name']); ?>" />
    <meta name="copyright" content="<?php echo strip_tags($site_settings['site_name']); ?>" />
    <?php
/*
    <meta name="resource-type" content="document" />
    <meta name="revisit-after" content="1 days" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="classification" content="internet" />
    <meta name="robots" content="all" />
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <meta name="language" content="russsian" />
    <meta name="doc-type" content="Web Page" />
    <meta http-equiv="reply-to" content="info@site.com" />
    <meta name="google-site-verification" content="" />
    <meta name='yandex-verification' content='' />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        */
    ?>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <?php $this->headLink()->appendStylesheet($this->baseUrl('/css/style.css')); ?>
    <?php $this->headLink()->appendStylesheet($this->baseUrl('/css/jcarousel.css')); ?>


    <?php $this->headScript()->appendFile($this->baseUrl('/js/jquery-1.9.0.min.js')); ?>
    <?php $this->headScript()->appendFile($this->baseUrl('/js/jquery.jcarousel.min.js')); ?>
    <?php $this->headScript()->appendFile($this->baseUrl('/js/jquery.jcarousel-autoscroll.min.js')); ?>
    <?php $this->headScript()->appendFile($this->baseUrl('/js/jquery.cycle.min.js')); ?>
    <?php $this->headScript()->appendFile($this->baseUrl('/js/cufon-yui.js')); ?>
    <?php $this->headScript()->appendFile($this->baseUrl('/js/cuf_run.js')); ?>
    <?php $this->headScript()->appendFile($this->baseUrl('/js/Myriad_Pro_Cond_400-Myriad_Pro_Cond_700.font.js')); ?>
    <?php $this->headScript()->appendFile($this->baseUrl('/js/site.js')); ?>

     <?php 
        $request = Zend_Controller_Front::getInstance()->getRequest();
        $module_name =  $request->getModuleName();
        $js_file = APPLICATION_PATH . '/../www/js/sections/'.$module_name.'.js';
        if (file_exists($js_file)) {            
            $this->headScript()->appendFile($this->baseUrl('/js/sections/'.$module_name.'.js'));
        }?>

    <?php echo $this->headLink() . PHP_EOL; ?>
    <?php echo $this->headStyle() . PHP_EOL; ?>
    <?php echo $this->headScript() . PHP_EOL; ?>
    <base href="<?php echo $this->baseUrl() . PHP_EOL; ?>"/>

</head>