<?php if ($this->AuthInfo()->isLoggedIn()): ?>
    <p class="login">
        <a href="/user"><?php echo $this->translate(_('Welcome')); ?>, <?php echo $this->AuthInfo('firstname'); ?></a> <br/>
        <a href="/user/auth/logout"><?php echo $this->translate(_('Logout')); ?></a>
        <a class="faq" href="/faq/"><?php echo $this->translate(_('Help')); ?></a>
    </p>
<?php else: ?>
    <p class="login"><br/>
        <a class="sign_in" href="/user/auth/login"><?php echo $this->translate(_('Sign in')); ?></a>
        <a class="reg" href="/user/auth/register" ><?php echo $this->translate(_('Register')); ?></a>
        <a class="faq" href="/faq/"><?php echo $this->translate(_('Help')); ?></a>
    <div class="sign_in_window">
        <h6><?php echo $this->translate(_('Sign in')); ?></h6>
        <?php echo $this->getLoginForm(); ?>
        <a href="/user/auth/forgot" class="forgot-pwd"><?php echo $this->translate(_('Forgot password?')); ?>?</a>

    </div>           
    </p>

<?php endif; ?>