<?php
$profile_menu_items = array(
    array(
        'label' => _('Мой профиль'),
        'module' => 'user',
        'controller' => 'index',
        'action' => 'index',
        'route' => 'default',
        'resource' => 'user:index',
        'privilege' => 'index',
        'reset_params' => true
    ),
    array(
        'label' => _('My Orders'),
        'module' => 'catalog',
        'controller' => 'order',
        'action' => 'index',
        'route' => 'default',
        'resource' => 'catalog:order',
        'privilege' => 'index',
        'reset_params' => true,
        'pages' => array(
            array(
                'label' => _('Order detail'),
                'module' => 'catalog',
                'controller' => 'order',
                'action' => 'view',
                'route' => 'default',
                'resource' => 'catalog:order',
                'privilege' => 'view',
                'reset_params' => true
            )
        )
    ),
    array(
        'label' => _('Subscription'),
        'module' => 'user',
        'controller' => 'index',
        'action' => 'subscription',
        'route' => 'default',
        'resource' => 'user:index',
        'privilege' => 'subscription',
        'reset_params' => true
    )
);

$container = new Zend_Navigation($profile_menu_items);
?>

<div class="lc">
    <h3 class="title ttl2"><?php echo $this->translate(_('Menu')); ?></h3>
    <?php echo $this->navigation()->menu()->setMinDepth(0)->setMaxDepth(0)->setUlClass('profile_menu')->renderMenu($container); ?>    

</div>