<?php

// get on Main
$publication_group_ident = 'news';
$group = $this->getPublicationGroupByIdent($publication_group_ident);
$lastNews =  $this->lastPublications($publication_group_ident, $group->count_on_main);

$publications = $lastNews->getPublications();

?>
<h3 class="title"><?php echo $group->name?></h3>
<div class="news_list">
	<?php foreach($publications as $key => $publication):?>
    <div class="news">
        <p><a href="<?php
                echo $this->url(array('lang' => $this->currentLang,
                    'groupIdent' => $publication_group_ident,
                    'publicationIdent' => $publication->ident), 'default_publication_detail', true);
                            ?>" title="<?php echo $this->Escape($publication->title); ?>">
                            <?php echo $this->Escape($publication->title); ?>
            </a>
        </p>
        <p><?php echo $this->truncate(strip_tags($publication->body), 150, ' '); ?></p>
        <p class="date"><?php echo $this->translate(_('Date'))?>: <?php echo $this->timeStamp($publication->date_post, $publication->date_format); ?></p>
    </div>
    <?php endforeach;?>
</div>