<div class="box">
    <h4 class="white ">
        
        <div><?php echo $this->translate(_('Edit Type of banner')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
   
                <!-- start id-form -->
                <?php echo $this->bannerTypeForm; ?>
                <!-- end id-form  -->
            
        </div>
    </div>
</div>
