<div class="box">
    <h4 class="white ">

        <div><?php echo $this->translate(_('Banner')); ?></div>
    </h4>
    <div class="box-container ">
        <div>

            <form  method="post" action="<?php echo $this->url(array( 'module' => 'ad', 'controller' => 'banner', 'action' => 'sort'), 'admin', true); ?>" enctype="application/x-www-form-urlencoded">
                <table class="table-long">
                    <thead>
                        <tr>
                            <th></th>
                            <th><?php echo $this->translate(_('Image')); ?></th>
                            <th><?php echo $this->translate(_('Name')); ?></th>
                            <th><?php echo $this->translate(_('Link')); ?></th>
                            <th><?php echo $this->translate(_('Sorting')); ?></th>
                            <th><?php echo $this->translate(_('Actions')); ?></th>
                        </tr>
                    </thead>

                    <tbody>              
                        <?php if (0 < count($this->banners)): ?>
                            <?php foreach ($this->banners as $banner): ?>
                                <tr<?php echo ($banner->status == 1)?"":' bgcolor="#FCCACA"'?>>
                                    <td class="col-chk">&nbsp;</td>
                                    <td class="col-first"><img  alt="<?php echo $this->Escape($banner->title); ?>" src="/images/banner/<?php echo $this->Escape($banner->thumbnail); ?>?<?php echo strtotime($banner->lastmod); ?>"/></td>
                                    <td class="col-second"><?php echo $this->Escape($banner->title); ?></td>
                                    <td class="col-second"><?php echo $this->Escape($banner->url); ?></td>
                                    <td class="col-second">
                                        <input style="width:30px;" value="<?php echo $banner->sort_order; ?>" id="sort_order_<?php echo  $banner->banner_id; ?>" name="sort_order[]"/>                                            
                                        <input type="hidden" name="id[]" value="<?php echo  $banner->banner_id; ?>"  />

                                        <a href="<?php
                        echo $this->url(array(
                             'module' => 'ad',
                            'controller' => 'banner',
                            'action' => 'sort',
                            'id' => $banner->banner_id,
                            'move' => 'up'
                                ), 'admin', true);
                                ?>"><img alt="<?php echo $this->translate(_('up')); ?>" src="/layout/icons/up.png"/></a>
                                        <a href="<?php
                                echo $this->url(array(
                                     'module' => 'ad',
                                    'controller' => 'banner',
                                    'action' => 'sort',
                                    'id' => $banner->banner_id,
                                    'move' => 'down'
                                        ), 'admin', true);
                                ?>"><img alt="<?php echo $this->translate(_('down')); ?>" src="/layout/icons/down.png"/></a>  

                                    </td>
                                    <td class="row-nav">
                                        <a class="table-edit-link" href="<?php
                                echo $this->url(array(
                                     'module' => 'ad',
                                    'controller' => 'banner',
                                    'action' => 'edit',
                                    'id' => $banner->banner_id), 'admin', true)
                                ?>"><?php echo $this->translate(_('edit')); ?></a>

                                        <span class="hidden"> | </span>

                                        <a class="table-delete-link"  href="<?php
                                echo $this->url(array(
                                    'module' => 'ad',
                                    'controller' => 'banner',
                                    'action' => 'delete',
                                    'id' => $banner->banner_id), 'admin', true)
                                ?>"><?php echo $this->translate(_('delete')); ?></a>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </tbody>                
                </table>
                <p>
                    <input type="submit" id="submit" class="submit" value="<?php echo $this->translate(_('Save')); ?>" name="submit"/>
                </p>
            </form>
        </div>
    </div>
</div>