<?php
$settings = Zend_Registry::get('site_settings');
/*
if ('' != ($settings['catalog_special_on_main'])) {
    $special_settings = explode(';', $settings['catalog_special_on_main']);
}
if ('' != ($settings['catalog_newest_on_main'])) {
    $newest_settings = explode(';', $settings['catalog_newest_on_main']);
}
if ('' != ($settings['catalog_hit_on_main'])) {
    $hit_settings = explode(';', $settings['catalog_hit_on_main']);
}*/

//$productsSpecialOffers = $this->productsSpecialOffers((int) $special_settings[0], true, null, false, (int) $special_settings[1]);
//$productsNewest = $this->productsNewest((int) $newest_settings[0], true, null, false, (int) $newest_settings[1]);
//$productsHits = $this->productsHits((int) $hit_settings[0], true, null, false, (int) $hit_settings[1]);
?>

    <h1 class="title2"><?php echo $this->page->title ?></h1>
    <div class="text">
        <?php echo $this->page->body?>
    </div>
   
<?php /* $reviews=null;//$reviews = $this->lastPublications('reviews') ?>
<?php if (0 < count($reviews)): ?>
    <div class="news_list">    
        <div class="title_box">
            <h3 class="title">Обзоры продукции</h3>
            <a class="sticker" href="/ru/publication/reviews">
                <span class="val"><?php echo $reviews->getCount(); ?></span>
                <span class="txt">новые</span>
            </a>
            <a class="more" href="/ru/publication/reviews">Все обзоры</a>
            <div class="clear"></div>
        </div>

        <div class="col4">
            <?php foreach ($reviews->getPublications() as $key => $publication): ?>
                <div class="col news <?php echo 0 == $key ? 'first' : ''; ?>">
                    <p class="date"><?php echo date($publication->date_format, strtotime($publication->date_post)); ?></p>
                    <a href="<?php
        echo $this->url(array('lang' => $this->currentLang,
            'groupIdent' => $publication->publication_group_ident,
            'publicationIdent' => $publication->ident), 'default_publication_detail', true);
                ?>" class="ttl"><?php echo $publication->title; ?></a>
                       <?php if ('' != $publication->preview): ?>
                        <a class="img" href="<?php
               echo $this->url(array('lang' => $this->currentLang,
                   'groupIdent' => $publication->publication_group_ident,
                   'publicationIdent' => $publication->ident), 'default_publication_detail', true);
                           ?>"><img src="/images/publication/<?php echo $publication->preview ?>" width="211" height="137" alt="<?php echo $publication->title; ?>" /></a>
                       <?php endif; ?>
                    <p><?php echo $this->truncate(strip_tags($publication->body), 250, ' '); ?></p>
                </div>                    
            <?php endforeach; ?>        
            <div class="clear"></div>
        </div>
    </div>
<?php endif; */?>

<?php /*$news = null;//$news = $this->lastPublications('news') ?>
<?php if (0 < count($news)): ?>
    <div class="news_list2">
        <div class="title_box">
            <h3 class="title">Новости магазина</h3>
            <a class="sticker" href="/ru/publication/news">
                <span class="val"><?php echo $news->getCount(); ?></span>
                <span class="txt">новые</span>
            </a>
            <a class="more" href="/ru/publication/news">все новости</a>
            <div class="clear"></div>
        </div>            

        <div class="col4">
            <?php foreach ($news->getPublications() as $key => $publication): ?>
                <div class="col news <?php echo 0 == $key ? 'first' : ''; ?>">
                    <p class="date"><?php echo date($publication->date_format, strtotime($publication->date_post)); ?></p>
                    <a href="<?php
        echo $this->url(array('lang' => $this->currentLang,
            'groupIdent' => $publication->publication_group_ident,
            'publicationIdent' => $publication->ident), 'default_publication_detail', true);
                ?>" class="ttl"><?php echo $publication->title; ?></a> 
                       
                    <p><?php echo $this->truncate(strip_tags($publication->body), 250, ' '); ?></p>

                </div>                    
            <?php endforeach; ?>        
            <div class="clear"></div>
        </div>
    </div>
<?php endif; */?>
