<div class="breadcrumbs">
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a itemprop="url" href="<?php echo $this->url(array('lang' => $this->currentLang), 'default', true); ?>">
            <span itemprop="title"><?php echo $this->translate(_('Main')); ?></span>
        </a>
    </div>
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <span itemprop="title"><?php echo $this->Escape($this->title); ?></span>       
    </div>
    <span class="clr"></span>
</div>
<div class="title_box">
    <h1><?php echo $this->title; ?></h1>
</div>
<div class="content_box sitemap">
    <?php echo $this->navigation()->menu()->setUlClass('site_map')->setMaxDepth(5)->renderMenu($this->container); ?>
</div>
