<div class="breadcrumbs">
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a itemprop="url" href="<?php echo $this->url(array('lang' => $this->currentLang), 'default', true); ?>">
            <span itemprop="title"><?php echo $this->translate(_('Main')); ?></span></a>»
    </div>
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        
            <span itemprop="title"><?php echo "Ошибка 404"; ?></span>
        
    </div>
    <span class="clr"></span>
</div>

<h1 class="title3"><?php echo $this->translate(_('Error')); ?> - <?php echo $this->translate($this->message); ?></h1>

<div class="content_box">
    <div class="error_box">

        <?php if(1 != $this->isAdmin): ?>
        <div class="err404">
            <p>УПС! Страница не найдена</p>
            <a href="/">На главную</a>
        </div>
        <?php endif; ?>
        
        <?php if (isset($this->exception)): ?>

            <h3><?php echo $this->translate(_('Error information')); ?>:</h3>
            <p>
                <b><?php echo $this->translate(_('Message')); ?>:</b> <?php echo $this->exception->getMessage() ?>
            </p>

            <h3><?php echo $this->translate(_('Stack trace')); ?>:</h3>
            <pre>
                <?php echo $this->exception->getTraceAsString() ?>
            </pre>

            <h3><?php echo $this->translate(_('Request Parameters')); ?>:</h3>
            <pre>
                <?php echo $this->escape(var_export($this->request->getParams(), true)) ?>
            </pre>

        <?php endif ?>
    </div>
</div>