<div class="box">
    <h4 class="white ">
        
        <div>Новый представитель</div>
    </h4>
    <div class="box-container ">
        <div>
            <?php echo $this->representationForm; ?>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>