<div class="box">
    <h4 class="white ">
        
        <div>Изменить предствителя</div>
    </h4>
    <div class="box-container ">
        <div>

            <?php echo $this->representationForm; ?>
            
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
<?php if('' != $this->representation->thumbnail): ?>
<script type="text/javascript">
    $(function()
    {
        $('#image-label').append('<br/><img alt="<?php echo $this->representation->name; ?>" src="/www/images/representation/<?php echo $this->representation->thumbnail; ?>"/>');

    });
</script>
<?php endif; ?>