<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<?php echo $this->googleMapsKey; ?>&sensor=false" type="text/javascript"></script>
<script type="text/javascript">

    function initialize() {
        if (GBrowserIsCompatible()) {
            var map = new GMap2(document.getElementById("map_canvas"));
            map.setCenter(new GLatLng(48.577913, 31.245117), 6);
            //map.setUIToDefault();
            var customUI = map.getDefaultUI();
            customUI.zoom.scrollwheel = false;
            map.setUI(customUI);

            // Create a base icon for all of our markers that specifies the
            // shadow, icon dimensions, etc.
            var baseIcon = new GIcon(G_DEFAULT_ICON);
            //baseIcon.image = "/layout/i_map.png";
            baseIcon.shadow = "http://www.google.com/mapfiles/shadow50.png";
            baseIcon.iconSize = new GSize(20, 34);
            baseIcon.shadowSize = new GSize(37, 34);
            baseIcon.iconAnchor = new GPoint(9, 34);
            baseIcon.infoWindowAnchor = new GPoint(9, 2);

            // Creates a marker whose info window displays the letter corresponding
            // to the given index.
            function createMarker(point, dto) {

                markerOptions = { icon:baseIcon };
                var marker = new GMarker(point, markerOptions);

                GEvent.addListener(marker, "click", function()
                {
                    var info  = "<div class=\"g_container\">";
                    if (dto.preview){
                        info += "<div class=\"g_image\">";
                        if(dto.url){
                            info += "<a href=\"" + dto.url + "\"><img width=\"100\" alt=\"\" class=\"g_image\" src=\"http://www.cubeukraine.com/images/representation/" + dto.preview + "\"></a>";
                        } else {
                            info += "<img width=\"100\" alt=\"\" class=\"g_image\" src=\"/images/representation/" + dto.preview + "\">";
                        }
                        info += "<div class=\"clr\"></div></div>"
                    }
                    info += "<div class=\"g_info\">";
                    info += "<div class=\"g_name\"><b>Представитель:</b>&nbsp;" + dto.name + "</div>";
                    info += "<div class=\"g_address\"><b>адрес:</b>&nbsp;" +  dto.city + ", " + dto.address + "</div>";
                    info += "<div class=\"g_phone\"><b>тел:</b>&nbsp;" + dto.phone + "</div>";
                    if (dto.url){
                        info += "<div class=\"g_url\"><b>сайт:</b>&nbsp;<a target=\"_blank\" rel=\"nofollow\" href=\"http:///" + dto.url + "\">" + dto.url + "</a></div>";
                    }
                    if (dto.work_time){
                        info += "<div class=\"g_work_time\"><b>время работы:</b>&nbsp;" + dto.work_time + "</div>";
                    }
                    if (dto.email){
                        info += "<div class=\"g_email\"><b>email:</b>&nbsp;<a rel=\"nofollow\" href=\"mailto:" + dto.email + "\">" + dto.email + "</a></div>";
                    }
                    info += "<div class=\"clr\"></div></div><div class=\"clr\"></div>";
                    info += "</div>";

                    marker.openInfoWindowHtml(info);
                });
                return marker;
            }

<?php foreach ($this->representations->toArray() as $representation): ?>
                            var latlng<?php echo $representation['representation_id']; ?> = new GLatLng(<?php echo $representation['latitude']; ?>, <?php echo $representation['longitude']; ?>);
                            var marker<?php echo $representation['representation_id']; ?> = createMarker(latlng<?php echo $representation['representation_id']; ?>,<?php echo Zend_Json::encode($representation) ?>);
                            map.addOverlay(marker<?php echo $representation['representation_id']; ?>);
<?php endforeach; ?>


<?php foreach ($this->representations->toArray() as $representation): ?>
                            $('a#<?php echo $representation['representation_id']; ?>').click(function() {
                                var dto = <?php echo Zend_Json::encode($representation) ?>;
                                var info  = "<div class=\"g_container\">";
                                if (dto.preview){
                                    info += "<div class=\"g_image\">";
                                    if(dto.url){
                                        info += "<a href=\"" + dto.url + "\"><img width=\"100\" alt=\"\" class=\"g_image\" src=\"/images/representation/" + dto.preview + "\"></a>";
                                    } else {
                                        info += "<img width=\"100\" alt=\"\" class=\"g_image\" src=\"/images/representation/" + dto.preview + "\">";
                                    }
                                    info += "<div class=\"clr\"></div></div>"
                                }
                                info += "<div class=\"g_info\">";
                                info += "<div class=\"g_name\"><b>Представитель:</b>&nbsp;" + dto.name + "</div>";
                                info += "<div class=\"g_address\"><b>адрес:</b>&nbsp;" +  dto.city + ", " + dto.address + "</div>";
                                info += "<div class=\"g_phone\"><b>тел:</b>&nbsp;" + dto.phone + "</div>";
                                if (dto.url){
                                    info += "<div class=\"g_url\"><b>сайт:</b>&nbsp;<a target=\"_blank\" rel=\"nofollow\" href=\"http://" + dto.url + "\">" + dto.url + "</a></div>";
                                }
                                if (dto.work_time){
                                    info += "<div class=\"g_work_time\"><b>время работы:</b>&nbsp;" + dto.work_time + "</div>";
                                }
                                if (dto.email){
                                    info += "<div class=\"g_email\"><b>email:</b>&nbsp;<a rel=\"nofollow\" href=\"mailto:" + dto.email + "\">" + dto.email + "</a></div>";
                                }
                                info += "<div class=\"clr\"></div></div><div class=\"clr\"></div>";
                                info += "</div>";
                                marker<?php echo $representation['representation_id']; ?>.openInfoWindowHtml(info);
                            });
<?php endforeach; ?>



                     }

                 }

</script>

<div class="header_content">

    <!-- representations -->
    <div class="representation">
        <div id="map_canvas" style="width: 1000px; height: 550px; margin: 0 0 10px 0;"></div>
        <div class="clr"></div>
    </div>
    <!-- /representations -->
</div>

<div class="content_top sab_page1">
    <div class="content_top_link">
        <div id="content_top_link_leftmenu">
            <ul class="menusm">

                <?php // echo $this->breadcrumb(); ?>
            </ul>
        </div>
        <div class="clr"></div>
    </div>

    <div class="content_bottom">
        <div class="content">
            <div class="content_index sabpage">
                <div class="text">
                    <h1><?php echo $this->Escape($this->page->title); ?></h1>
                    <div class="clr"></div>
                    <div class="post_text">
                        <?php echo $this->page->body; ?>
                    </div>
                </div>

                <div id="representations_list">
                    <?php
                    $num = count($this->representations_city);
                    $colnum = 4;

                    $i = 0;
                    $column = 1;
                    ?>
                    <table>
                        <tr>
                            <?php foreach ($this->representations_city as $city => $representations): ?>
                                <?php if ($i == 0): ?>
                                    <?php if ($column > 1): ?>
                                        </td>
                                    <?php endif; ?>
                                    <td>
                                    <?php endif; ?>
                                    <?php
                                    $i++;
                                    $max = ceil(( $num - ceil($num * ($column - 1) / $colnum) ) / ( $colnum + 1 - $column ));
                                    ?>

                                    <h4><?php echo $city; ?></h4>
                                    <ul>
                                        <?php foreach ($representations as $representation): ?>
                                            <li class="representation_item">
                                                <a id="<?php echo $representation->representation_id; ?>" href="#"><?php echo $representation->name; ?></a>
                                            </li>
                                        <?php endforeach; ?>
                                    </ul>

                                    <?php if ($max == $i): ?>
                                        <?php $i = 0;
                                        $column++
                                        ?>
                                    <?php endif; ?>
<?php endforeach ?>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="clr"></div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(window).load(function() {  initialize();});
    // GUnload();
</script>
