<div class="box">
    <h4 class="white ">
        <div>Представители</div>
    </h4>
    <div class="box-container ">
        <div>
            <?php if (count($this->representations)): ?>
                <form  method="post" action="" enctype="application/x-www-form-urlencoded"><table class="table-long">
                        <thead>
                            <tr>                        
                                <th><?php echo $this->translate(_('Image')); ?></th>
                                <th><?php echo $this->translate(_('Name')); ?></th>
                                <th><?php echo $this->translate(_('Email')); ?></th>
                                <th>Сайт</th>
                                <th><?php echo $this->translate(_('Status')); ?></th>
                                <th><?php echo $this->translate(_('Actions')); ?></th>
                            </tr>
                        </thead>

                        <tbody>                         
                            <?php foreach ($this->representations as $representation): ?>
                                <tr>                            
                                    <td class="col-second">
                                        <?php if ($representation->thumbnail): ?>
                                            <img height="50" alt="<?php echo $this->Escape($representation->name); ?>" src="/images/representation/<?php echo $this->Escape($representation->thumbnail); ?>"/>
                                        <?php endif; ?>
                                    </td>
                                    <td class="col-second"><?php echo $this->Escape($representation->name); ?></td>
                                    <td class="col-second"><?php echo $this->Escape($representation->email); ?></td>
                                    <td class="col-second"><?php echo $this->Escape($representation->url); ?></td>
                                    <td class="col-second"><?php echo $representation->status ? 'Активный' : 'Неактивный'; ?></td>
                                    <td class="row-nav">
                                        <a class="table-edit-link" href="<?php
                                echo $this->url(array(
                                    'module' => 'location',
                                    'controller' => 'representation',
                                    'action' => 'edit',
                                    'id' => $representation->representation_id), 'admin', true)
                                        ?>"><?php echo $this->translate(_('edit')); ?></a>

                                        <span class="hidden"> | </span>

                                        <a class="table-delete-link"  href="<?php
                                   echo $this->url(array(
                                       'module' => 'location',
                                       'controller' => 'representation',
                                       'action' => 'delete',
                                       'id' => $representation->representation_id), 'admin', true)
                                        ?>"><?php echo $this->translate(_('delete')); ?></a>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>                
                    </table>
                    <?php /* <input type="submit" id="submit" class="submit" value="<?php echo $this->translate(_('Save')); ?>" name="submit"/> */ ?>
                </form>
            <?php endif; ?>
        </div>
    </div>
</div>