.jcarousel-skin-default{position:relative;}
.jcarousel-skin-default .jcarousel {
    position: relative;
    overflow: hidden;
	width:980px;
    height:70px;
	z-index:3;
}

.jcarousel-skin-default ul {
    width: 20000px;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel-skin-default li {
    float: left;
    margin: 0 17px 0 0;
}

*[dir=rtl] .jcarousel-skin-default li {
    float: right;
    margin: 0 0 0 24px;
}

/** Custom **/

.jcarousel-skin-default .car_btn{display:none;float:left;background:url(../images/car_btns.png) 0 0 no-repeat;width:26px;height:50px;position:absolute;top:50%;margin-top:-25px;}
.jcarousel-skin-default .car_btn:focus{outline:none;}
.jcarousel-skin-default .car_btn.lbtn{left:-40px;}
.jcarousel-skin-default .car_btn.rbtn{background-position:-26px 0;right:-40px;}
