@charset "utf-8";
/* CSS Document */
/* behavior: url(js/pie.htc); */

/* base */
* { margin: 0; padding: 0; border: 0; }

body { background:#fff; color: #525252; font-family:Tahoma, Geneva, sans-serif; font-size: 14px; line-height: 20px; }
a { color: #a1a100;  text-decoration: underline; }
a:hover { text-decoration:none;}

.clear, .clr {display:block; clear: both; line-height:0; float:none !important;}

ul,ol,li { list-style: none; }

h1 {}
h2 {}
h3 {}

input, textarea { outline:none;resize:none;}

.line{overflow:hidden;}

.fll{float:left !important;}
.flr{float:right !important;}

a.img{display:block;}

/* base end */

.wrapper {min-width:960px;margin:0 auto;background:url(../images/bg.jpg) center 0 no-repeat;}
#main .wrapper{background:none;}

.wrap{min-width:960px;margin:0 auto;width:960px;position:relative;}
.wrap > .clear{height:0;font-size:0;overflow:hidden;}

.header {position:relative;z-index:3;}
.header .wrap{height:97px;}
#main .header .wrap{height:724px;background:url(../images/hd_bg.jpg) 0 0 no-repeat;}

.logo{top:18px;left:24px;position:absolute;display:block;z-index:11;}
#main .logo{top:12px;left:-19px;}

.hd_tel{position:absolute;top:25px;background:url(../images/tm_bg_end.png) 0 0 no-repeat;right:0;}
.hd_tel > div{background:url(../images/hdtel_bg_end.png) right 0 no-repeat;padding:0 20px;}
.hd_tel p{background:url(../images/hdtel_bg.png) 0 0 repeat-x;width:132px;text-align:right;padding:8px 2px 0;height:35px;font-size:20px;color:#fff;}
.hd_tel p strong{font-size:28px;}
*:first-child + html .hd_tel p{padding-top:4px;height:39px;}

.tm_wr{position:absolute;left:0;top:25px;background:url(../images/tm_bg_bgn2.png) 0 0 no-repeat;padding:0 0 0 220px;}
#main .tm_wr{background:url(../images/tm_bg_bgn.png) 0 0 no-repeat;padding:0 0 0 20px;}
#menu_top{background:url(../images/tm_bg.png) 0 0 repeat-x;padding:0 0 0 50px;height:43px;width:514px;}
#main #menu_top{padding:0 0 0 250px;}
#menu_top li{position:relative;}
#menu_top > li{float:left;}
#menu_top > li > a{display:block;height:20px;font-size:20px;text-transform:uppercase;line-height:24px;padding:14px 12px 10px;color:#454545;}
*:first-child + html #menu_top > li > a{padding:10px 12px 10px;}
#menu_top > li.hover > a , #menu_top > li.active > a{color:#929202;}

.content {position:relative;z-index:2;}
.content .wrap{padding:0 0 20px;}

.car_wr{padding:10px 40px 5px;margin:0 -40px;}

.lc{float:left;width:227px;}
.rc{float:right;width:703px;}

.breadcrumbs{font-family:Arial, Helvetica, sans-serif;margin:0 0 8px;}
.breadcrumbs > div{display:inline;}
*:first-child + html .breadcrumbs > div{margin-right:4px;}
.breadcrumbs a{text-decoration:none;color:#525252;margin-right:5px;}
.breadcrumbs a:hover,
.breadcrumbs a.active{text-decoration:underline;}

.title{font-size:27px;font-weight:normal;text-transform:uppercase;margin:0 0 10px;line-height:32px;}
.title2{font-size:34px;line-height:40px;text-transform:uppercase;font-weight:bold;margin:0 0 10px;}
.title3{color:#a2a200;font-size:34px;line-height:40px;text-transform:uppercase;margin:0 0 20px;}
.title4{color:#a2a200;font-size:28px;line-height:34px;text-transform:uppercase;margin:0 0 14px;}

.title_pad{}
.title_pad .more{float:right;}

.text{}
.text h1{text-transform:uppercase;font-weight:bold;font-size:32px;line-height:40px;margin:0 0 20px;}
.text h2{text-transform:uppercase;font-weight:bold;font-size:28px;line-height:34px;margin:0 0 20px;}
.text h3{text-transform:uppercase;font-weight:bold;font-size:24px;line-height:30px;margin:0 0 20px;}
.text h4{text-transform:uppercase;font-weight:bold;font-size:22px;line-height:26px;margin:0 0 20px;}
.text h5{}
.text h6{}
.text p{margin:0 0 20px;}
.text img{display:block;position:relative;border:4px solid #efefef;
box-shadow:1px 1px 1px #bcbcbc; behavior: url(js/pie.htc);}
.text img[align=left]{margin:0 22px 5px 0;}
.text img[align=right]{margin:0 0 5px 22px;}
.text ul{margin:20px 0;}
.text ul li{list-style-position:inside;margin:0 0 10px;list-style-image:url(../images/ul_marker.png);}
.text ol{margin:20px 0;}
.text ol li{color:#a2a200;font-weight:bold;list-style-type:decimal;list-style-position:inside;margin:0 0 10px;}
.text ol li span{font-weight:normal;color:#525252;}

.text table{border-collapse:collapse;position:relative;margin:20px 0 ;}
.text table tr td{
	padding:3px 10px;
	border-bottom:1px solid #fff;
	border-left:1px solid #fff;
	text-align:center;
	min-width:47px;
	background:#e3e3d4;}
.text table tr td:first-child{
	border-left:none;
	padding:3px 17px 3px 10px;
	text-align:left;
	background:#d4d4be;
	min-width:145px;}
.text table tr th{
	padding:5px 10px 6px 10px;
	background:url(../images/table_bg.png) 0 0 repeat-x #a0a100;
	border-bottom:1px solid #fff;
	border-left:1px solid #fff;
	text-align:center;
	color:#fff;}
.text table tr th:first-child{
	border-left:none;
	padding:5px 17px 6px 10px;
	text-align:left;}
.text table .tl_corner{border-radius:4px 0 0 0;behavior: url(js/pie.htc);}
.text table .tr_corner{border-radius:0 4px 0 0;behavior: url(js/pie.htc);}
*:first-child + html .text table .tr_corner , *:first-child + html .text table .tl_corner{position:relative;}

.brend_list{padding:4px 0 0;}
.brend{overflow:hidden;margin:0 0 20px;}
.brend .brend_img{float:left;margin:70px 30px 0 0;}
.brend .img{float:left;}
.brend .txt_wr{float:right;width:383px;position:relative;border:4px solid #efefef;height:220px;background:#fff;
box-shadow:1px 1px 1px #bcbcbc; behavior: url(js/pie.htc);}
.brend .txt_wr .arw{display:block;position:absolute;background:url(../images/arw1.png) 0 0 no-repeat;width:15px;height:21px;left:-15px;top:50%;margin-top:-10px;}
.brend .txt{padding:18px 24px 16px;}
.brend .txt .more{margin:6px 0 0;}

.err404{height:365px;padding:1px 340px 0 370px;background:url(../images/er404.png) center center no-repeat;margin:47px 0 50px;text-align:center;color:#fff;}
.err404 p{font-size:17px;font-weight:bold;text-shadow:1px 1px 1px #ffa962;margin:220px 0 0;}
.err404 a{font-size:15px;display:block;color:#fff;margin:32px 0 0;text-shadow:1px 1px 1px #ffa962;}

#slider{width:980px;height:104px;}
.slider_wr{padding:8px 40px 10px;margin:0 -40px;position:relative;}
.slider_wr .slider_btn{display:none;float:left;background:url(../images/car_btns.png) 0 0 no-repeat;width:26px;height:50px;position:absolute;top:50%;margin-top:-25px;cursor:pointer;}
.slider_wr .slider_btn:focus{outline:none;}
.slider_wr #slider_prev{left:0px;}
.slider_wr #slider_next{background-position:-26px 0;right:0px;}
#slider > div{padding:1px 0;width:980px;background:none !important;}
.hot_news{display:block;float:left;width:265px;margin:13px 0 0 60px;position:relative;text-decoration:none;color:#525252;}
.hot_news:first-child{margin-left:45px;}
.hot_news .img{background:url(../images/img_bg.png) 0 0 no-repeat;width:79px;height:79px;padding:3px 4px 7px 9px;display:block;position:absolute;top:-13px;left:-51px;z-index:5;}
.hot_news .img img{display:block;position:relative;
border-radius:100px;behavior: url(js/pie.htc);}
.hot_news .txt{display:block;position:relative;background:url(../images/new_bg.png) 0 0 no-repeat;height:69px;padding:10px 14px 10px 56px;}
.hot_news .txt > span{display:block;}

.hot_news:hover{color:#fff;}
.hot_news:hover .txt{background:url(../images/new_bg_hov.png) 0 0 no-repeat;}
.hot_news:hover .img{background:url(../images/img_bg_hov.png) 0 0 no-repeat;}

.news_list{}
.news{overflow:hidden;margin:0 0 20px;padding:0 0 2px;}
.news .img{display:block;float:left;margin:0 22px 0 0;}
.news .img img{display:block;position:relative;border:4px solid #efefef;
box-shadow:1px 1px 1px #bcbcbc; behavior: url(js/pie.htc);}
.news .ttl{display:block;color:#a2a200;font-size:22px;line-height:26px;text-transform:uppercase;font-weight:bold;margin:0 0 20px;}
.news .date{font-size:16px;color:#838282;font-family:Arial, Helvetica, sans-serif;margin:0 0 4px;}
.news p{}

.side_news{}
.side_news .news{margin:0 0 20px;}
.side_news .date{color:#f4f400;}
.side_news2 .news{margin:0 0 20px 20px;width:306px;float:left;}
.side_news2 .news.first{margin-left:0;}
.top_line .side_news2 .title{font-size:27px;line-height:34px;}

.pager{overflow:hidden;margin:10px 0 25px;padding:7px 0 0;}
.pager p{line-height:25px;}
.pager ul{}
.pager ul li{float:left;margin:0 3px 0 0px;}
.pager ul li > *{display:block;width:23px;padding:0 4px 0 0;height:27px;line-height:25px;background:url(../images/pg_btn.png) 0 0 no-repeat;text-align:center;text-decoration:none;color:#525252;font-family:Arial, Helvetica, sans-serif;}
.pager .lbtn{width:22px;padding:0;background:url(../images/pg_larw.png) 0 0 no-repeat;}
.pager .rbtn{width:22px;padding:0;background:url(../images/pg_rarw.png) 0 0 no-repeat;}
.pager li.active a , .pager a:hover , .pager .rbtn:hover , .pager .lbtn:hover{background-position:0 -27px;font-weight:bold;color:#fff;}

.btn{display:block;float:left;cursor:pointer;padding:0 0 0 18px;background:url(../images/btn.png) 0 0 no-repeat;text-decoration:none;}
.btn > span{display:block;cursor:pointer;padding:0 36px 0 18px;background:url(../images/btn.png) right -39px no-repeat;}
.btn > span > *{display:block;font:bold 14px/37px Arial, Helvetica, sans-serif;color:#fff;height:39px !important;cursor:pointer;background:none;}

.map_wr {margin:20px 0 28px;}
.map_box {position:relative;border:4px solid #efefef;width:952px;height:368px;overflow:hidden;
box-shadow:1px 1px 1px #bcbcbc; behavior: url(js/pie.htc);}
.map_box iframe{width:952px;height:368px;}

input[type=text], input[type=password] {display:block;float:left;position:relative;border:1px solid #dedad2;padding:0px 14px;height:30px !important;line-height:30px;font-size:14px;color:#a09c9c;
border-radius:15px;behavior: url(js/pie.htc);}
textarea{display:block;border:1px solid #dedad2;position:relative;font-size:14px;line-height:20px;font-family:Tahoma, Geneva, sans-serif;padding:5px 14px;color:#a09c9c;
border-radius:28px;behavior: url(js/pie.htc);}
.line label:first-child{display:block;float:left;}
input[type=text] span, input[type=password] span , textarea span , label span{color:#ff8400;}

.zend_form {padding:10px 90px 10px 132px;}
.zend_form dd{position:relative;overflow:hidden;}
.zend_form dd.clr{padding:0 0 11px;overflow:hidden;font-size:0;line-height:0;}
.zend_form .line{}
.zend_form .line .fll{width:260px;}
.zend_form .line .flr{width:465px;}
.zend_form .clr{float:none;}
.zend_form input[type=text] ,
.zend_form input[type=password]{width:230px !important;}
.zend_form textarea{width:435px !important;height:110px !important;}

#captcha-input-label{float:left;}
.zend_form #captcha-element{}
.zend_form #captcha-element #captcha-input-label{display:block;float:left;height:32px !important;margin:0 16px 0 8px;}
.zend_form #captcha-element #reload_captcha a{display:block;background:url(../images/renew.png) 0 0 no-repeat;width:26px;height:34px;margin:0 20px;float:left;}
.zend_form #captcha-element img{float:left;margin-left:3px;}
.zend_form #captcha-element #captcha-input{width:90px !important;text-align:center;float:left;margin:4px 15px 0 5px;}

.footer {position:relative;z-index:1;color:#736464;}
.footer .btm_line a{color:#736464;text-decoration:none;}
.footer .btm_line a:hover{text-decoration:underline;}
.footer .wrap{}
.footer .title{font-size:22px;line-height:26px;margin:0 0 12px;}

.footer .btm_line{background:url(../images/ft_bg1.png) center 0 repeat-x #342121;padding:62px 0 42px;margin:30px 0 0;}
.footer .btm_line .fll{width:227px;padding:0 30px 0 0;}
.footer .btm_line .flr{width:207px;padding:0 0 0 10px;}
.footer .btm_line .col2{text-align:right;}

.footer .top_line{background:url(../images/ft_bg2.png) center bottom repeat-x;color:#fff;margin:0 0 25px;}
.footer .top_line .wr{background:url(../images/ft_bg3.png) center 0 repeat-x;padding:18px 0;}
.footer .top_line .wr .wr2{background:url(../images/ft_bg_green.jpg) 0 0 repeat;padding:27px 0;overflow:hidden;}
.footer .top_line .more a{color:#f4f400;}
.footer .top_line .lc{padding:6px 0 0;}

.soc_links{}
.soc_links li{float:left;}
.soc_links a{display:block;margin-right:5px;}
.soc_links span{display:block;margin-right:7px;}

.seo_links{}
.seo_links li{}
.seo_links li:first-child{}
.seo_links li a{color:#736464;text-decoration:none;}
.seo_links li a:hover , .seo_links li.active a{text-decoration:underline;}

.ft_contacts{}
.ft_tel{padding:0 0 0 20px;background:url(../images/ft_tel.png) 0 6px no-repeat;font-size:20px;margin:14px 0 0;}
.ft_tel strong{color:#a4a500;font-size:28px;}

.ft_logo{display:block;float:right;margin:0 0 7px;}
.copyrights{margin:0 0 10px;}
.web_dev{margin:0 0 2px;}
.web_dev_link{background:url(../images/web_dev.png) 0 0 no-repeat;width:122px;height:37px;display:block;float:right;}

