<div class="box">
    <h4 class="white ">
        <div><?php echo $this->translate(_('Faq')); ?> <?php echo $this->category ? ' / ' . $this->category->name : '';?></div>
    </h4>
    <div class="box-container ">
        <div> 
            <?php echo $this->category ? '<p class="category_description">' . $this->category->description . '</p>' : '';?>
            <?php if (count($this->faqs)): ?>
                <div id="accordion">    
                    <?php foreach ($this->faqs as $faq): ?>
                        <h3><a class="head" href="#"><?php echo $this->Escape($faq->query); ?></a></h3>
                        <div><?php echo $faq->answer; ?></div>
                    <?php endforeach; ?>
                </div>
            <?php else: ?>
                <?php if ($this->faq_category_id == 0) : ?>
                    <p><?php echo $this->translate(_('Select a category from the list on the left')); ?></p>
                <?php else: ?>
                    <p><?php echo $this->translate(_('There are no items it this category')); ?></p>
                <?php endif; ?>
            <?php endif; ?>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $( "#accordion" ).accordion({       
            autoHeight: false,
            navigation: true,
            collapsible: true
        });
    });
    
</script>
