<div class="box">
    <h4 class="white">       
        <div><?php echo $this->translate(_('Add category')); ?></div>
    </h4>
    <div class="box-container">
        <div>
             <div id="tabs">
                <ul>
                    <?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
                        <li><a href="#form_<?php echo $lang->code; ?>-element"><?php echo $lang->name; ?></a></li>                      
                    <?php endforeach; ?>
                </ul>
                <!-- start id-form -->
                <?php echo $this->publicationCategoryForm; ?>
                <!-- end id-form  -->
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $( "#tabs" ).tabs();
    });
</script>

<script>
    // show CategoryForGrupa
    
    jQuery("#parent_id-label, #parent_id-element").hide();
     
    jQuery("select[name=publication_group_id]").change(function() {     
        
       
        var val = jQuery("select[name=publication_group_id] option:selected").attr('value');
            
        //ajax
        jQuery.ajax({
            url:"/publication/get-categories-group-ajax/groupId/"+val ,
            type:"GET",
            dataType: "json" ,
            success: function (data) {
                if ('error' == data.status) {
                        
                     jQuery("#parent_id-label, #parent_id-element").hide();
                    
                } else if ('success'==data.status) {
                                       
                  data.cetegories.unshift({"label":"0","name":"Root level"});
                   
                  jQuery("select#parent_id > *").remove();
                  jQuery("#parent_id-label, #parent_id-element").show();
                    
                  jQuery.each(data.cetegories, function(key,value){
                        
                        jQuery("select#parent_id").append('<option label="'+value.name+'" value="'+value.label+'">"'+value.name+'"</option>');
                 
                    });
                }//else if
                   
            }  
        });//end ajax
    }).change();
  
</script>


<style type="text/css">
<?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
        #form_<?php echo $lang->code; ?>-label {
            display: none;
        }  
<?php endforeach; ?>
    
</style>
