
<script language="Javascript">

    jQuery(function(jQuery){

        // Create variables (in this scope) to hold the API and image size
        var jcrop_api, boundx, boundy;
              
        jQuery('#target').Jcrop({
            onChange: updatePreview,
            onSelect: updatePreview,
            aspectRatio: <?php echo $this->image_resize_setting['width_preview']; ?>/<?php echo  $this->image_resize_setting['height_preview']; ?>
        },function(){
            // Use the API to get the real image size
            var bounds = this.getBounds();
            boundx = bounds[0];
            boundy = bounds[1];
            // Store the API in the jcrop_api variable
            jcrop_api = this;
            jcrop_api.animateTo([0,0,1000,1000]);
        });
                
                

        function updatePreview(c)
        {
            updateCoords(c)
            if (parseInt(c.w) > 0)
            {
                var rx = <?php echo  $this->image_resize_setting['width_preview']; ?> / c.w;
                var ry = <?php echo  $this->image_resize_setting['height_preview']; ?> / c.h;

                jQuery('#preview').css({
                    width: Math.round(rx * boundx) + 'px',
                    height: Math.round(ry * boundy) + 'px',
                    marginLeft: '-' + Math.round(rx * c.x) + 'px',
                    marginTop: '-' + Math.round(ry * c.y) + 'px'
                });
            }
        };
                
        function updateCoords(c)
        {
            jQuery('#x').val(c.x);
            jQuery('#y').val(c.y);
            jQuery('#w').val(c.w);
            jQuery('#h').val(c.h);
        };
                

    });

    function checkCoords()
    {
        if (parseInt(jQuery('#w').val())) return true;
        alert('<?php echo $this->translate('Please select the crop region, and then press save').'.'; ?>');
        return false;
    };
           

</script>
<p><?php echo $this->translate(_('Select the region to thumbnails')); ?>: <br/><br/></p>
<table>
    <tr>
        <td>
            <img  src="/images/publication/<?php echo $this->publication->full; ?>" id="target" alt="Target"/>
        </td>
        <td>
            <div style=" width:<?php echo  $this->image_resize_setting['width_preview']; ?>px; height:<?php echo  $this->image_resize_setting['height_preview']; ?>px; overflow:hidden;position: relative;">
                <img style="position: absolute;" src="/images/publication/<?php echo $this->publication->full ?>" id="preview" alt="Preview" />
            </div>
        </td>
    </tr>
</table>

<form action="<?php echo $this->url(array('module' => 'publication', 'controller' => 'management', 'action' => 'crop', 'publication_id' => $this->publication->publication_id), 'admin', true); ?>" method="post" onsubmit="return checkCoords();">
    <input type="hidden" id="x" name="x" />
    <input type="hidden" id="y" name="y" />
    <input type="hidden" id="w" name="w" />
    <input type="hidden" id="h" name="h" />
    <input type="submit" value="<?php echo $this->translate(_('Crop')); ?>" />
</form>



