<div class="box">
    <h4 class="white ">
        <div><?php echo $this->translate(_('Edit category')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
             <div id="tabs">
                <ul>
                    <?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
                        <li><a href="#form_<?php echo $lang->code; ?>-element"><?php echo $lang->name; ?></a></li>                      
                    <?php endforeach; ?>
                </ul>
                <!-- start id-form -->
                <?php echo $this->publicationCategoryForm; ?>
                <!-- end id-form  -->
            </div>
        </div>
    </div>
</div>
<div id="crop_dialog" title="<?php echo $this->translate(_('Crop for thumbnails')); ?>"></div>
<script type="text/javascript">
    $(function() {
        $( "#tabs" ).tabs();
    });
</script>

<script>
    // show CategoryForGrupa
    
    jQuery("#parent_id-label, #parent_id-element").hide();
     
    jQuery("select[name=publication_group_id]").change(function() {     
        
       
        var val = jQuery("select[name=publication_group_id] option:selected").attr('value');
            
        //ajax
        jQuery.ajax({
            url:"/publication/get-categories-group-ajax/groupId/"+val ,
            type:"GET",
            dataType: "json" ,
            success: function (data) {
                if ('error' == data.status) {
                        
                     jQuery("#parent_id-label, #parent_id-element").hide();
                    
                } else if ('success'==data.status) {
                                       
                  data.cetegories.unshift({"label":"0","name":"Root level"});
                   
                  jQuery("select#parent_id > *").remove();
                  jQuery("#parent_id-label, #parent_id-element").show();
                    
                  jQuery.each(data.cetegories, function(key,val){
                        if (<?php echo $this->publication_category['publication_category_id']; ?>!==0 && <?php echo $this->publication_category['pparent_id']; ?>==value.label) {
                            jQuery("select#parent_id").append('<option label="'+value.name+'" selected value="'+value.label+'">"'+value.name+'"</option>');
                        } else {
                            jQuery("select#parent_id").append('<option label="'+value.name+'" value="'+value.label+'">"'+value.name+'"</option>');
                        }
                    });
                }//else if
                   
            }  
        });//end ajax
    }).change();
  
</script>

<style type="text/css">
<?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
        #form_<?php echo $lang->code; ?>-label {
            display: none;
        }  
<?php endforeach; ?>
    
</style>

<?php if ($this->publication_category['thumbnail']) : ?>
    <script type="text/javascript">
        $('#delete_image-element').append('<img src="/images/publication/category/<?php echo $this->publication_category['thumbnail']; ?><?php echo '?tmp='.time();?>" alt="<?php echo $this->publication_category['name']; ?>" /><br/><a id="crop" href="#" onclick="crop(); return false; "><?php echo $this->translate(_('Crop for thumbnails')); ?></a>');
        function crop()
        {
            jQuery("#crop_dialog")
            .load('/admin/publication/management/crop-category/category_id/<?php echo $this->publication_category['publication_category_id']; ?>')
            .dialog({
                width: '<?php $getimagesize = getimagesize(APPLICATION_PATH . '/../www/images/publication/category/' . $this->publication_category['full']); echo $getimagesize[0] + 250 ?>',
                height: 'auto',
                position: ['center', 50],
                modal: true
            });
        };
    </script>
<?php else : ?>
    <script type="text/javascript">
        $('#delete_image-label').hide();
        $('#delete_image-element').hide();            
    </script>
<?php endif; ?>