<div class="box">
    <h4 class="white ">

        <div><?php echo $this->translate(_('Edit publication')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
            <div id="tabs">
                <ul>
                    <?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
                        <li><a href="#form_<?php echo $lang->code; ?>-element"><?php echo $lang->name; ?></a></li>                      
                    <?php endforeach; ?>
                </ul>
                <!-- start id-form -->
                <?php echo $this->publicationForm; ?>
                <!-- end id-form  -->
            </div>

        </div>
    </div>
</div>
<div id="crop_dialog" title="<?php echo $this->translate(_('Crop for thumbnails')); ?>"></div>
<script type="text/javascript">
    $(function() {
        $( "#tabs" ).tabs();
    });
</script>

<script>
    // show CategoryForGrupa
    
    jQuery("#publication_category_id-label,#publication_category_id-element").hide();
     
    jQuery("select[name=publication_group_id]").change(function() {     
          
         
        var val = jQuery("select[name=publication_group_id] option:selected").attr('value');
            
        //ajax
        jQuery.ajax({
            url:"/admin/publication/management/get-categories-group-ajax/groupId/"+val ,
            type:"GET",
            dataType: "json" ,
            success: function (data) {
                if ('error' == data.status) {
                        
                    jQuery("#publication_category_id-label,#publication_category_id-element").hide();
                    
                } else if ('success'==data.status) {
                   
                    jQuery("select#publication_category_id > *").remove();
                    jQuery("#publication_category_id-label,#publication_category_id-element").show();
                    
                    jQuery.each(data.cetegories, function(key,value){
               
                    
                        if (<?php echo $this->publication['publication_category_id']; ?>!==0 && <?php echo $this->publication['publication_category_id']; ?>==value.label) {
                            
                            jQuery("select#publication_category_id").append("<option label='"+value.name+"'selected value='"+value.label+"'>"+value.name+"</option>");
                        } else {
                            
                            jQuery("select#publication_category_id").append("<option label='"+value.name+"' value='"+value.label+"'>"+value.name+"</option>");      
                        }
                       
                    });
                }//else if
                   
            }  
        });//end ajax


        jQuery.ajax({
            url:"/publication/management/get-group-image-status-ajax/groupId/"+val ,
            type:"GET",
            dataType: "json" ,
            success: function (data) {
                if ('0' == data.image_status) {
                    // image-label
                    // image-element
                  jQuery("#image-label").hide(200).fadeOut(500);
                  jQuery("#image-element").hide(200).fadeOut(500);
                }
                else{
                  jQuery("#image-label").show(200).fadeIn(900);
                  jQuery("#image-element").show(200).fadeIn(900);
                }
                   
            }  
        });//end ajax

    }).change();
   
</script>

<style type="text/css">
<?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
        #form_<?php echo $lang->code; ?>-label {
            display: none;
        }  
<?php endforeach; ?>
    
</style>
<?php if ($this->publication['thumbnail']) : ?>
    <script type="text/javascript">

        $('#delete_image-element').append($('<img>').attr({
            src:"/images/publication/<?php echo $this->publication['thumbnail'] .'?tmp=' . time(); ?>",
            alt:"<?php echo $this->publication['title']; ?>"}));

            <?php if(!strpos($this->strategy, "FitFill")):?>
                <?php if(1 == $this->publicationGroup->image_resize):?>
                $('#delete_image-element').append($('<br>'))
                                          .append($('<a></a>').attr({'id':"crop",
                                                                     'href':"#",
                                                                     'onclick':'crop(); return false;'})
                                                              .text("<?php echo $this->translate(_('Crop for thumbnails')); ?>"));
                <?php endif;?>
            /*$('#delete_image-element').append('<img src="/images/publication/<?php echo $this->publication['thumbnail']; ?><?php echo '?tmp=' . time(); ?>" alt="<?php echo $this->publication['title']; ?>" /><br/><a id="crop" href="#" onclick="crop(); return false;"><?php echo $this->translate(_('Crop for thumbnails')); ?></a>')*/

                function crop()
                {
                    jQuery("#crop_dialog")
                    .load('/admin/publication/management/crop/publication_id/<?php echo $this->publication['publication_id']; ?>')
                    .dialog({
                        width: '<?php $getimagesize = getimagesize(APPLICATION_PATH . '/../www/images/publication/' . $this->publication['full']);
            echo $getimagesize[0] + 250 ?>',
                        height: 'auto',
                        position: ['center', 50],
                        modal: true
                    });  
                };
            <?php endif;?>
        
    </script>
<?php else : ?>    
    <script type="text/javascript">
        $('#delete_image-label').hide();
        $('#delete_image-element').hide();            
    </script>
<?php endif ?>