<?php
$actionButtons = array(
    array(
        'label' => $this->translate(_('edit')),
        'module' => 'publication',
        'controller' => 'management',
        'action' => 'edit-publication-group',
        'route' => 'admin',
        'resource' => 'publication:management',
        'privilege' => 'edit-publication-group',
        'class' => 'table-edit-link',
        'reset_params' => true
    ),
    array(
        'label' => $this->translate(_('delete')),
        'module' => 'publication',
        'controller' => 'management',
        'action' => 'delete-publication-group',
        'route' => 'admin',
        'resource' => 'publication:management',
        'privilege' => 'delete-publication-group',
        'class' => 'table-delete-link',
        'reset_params' => true
    )
);
?>

<div class="box">
    <h4 class="white ">
        <div><?php echo $this->translate(_('Groups')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
            <form  method="post" action="" enctype="application/x-www-form-urlencoded">
                <table class="table-long">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th><?php echo $this->translate(_('Name')); ?></th>
                            <th><?php echo $this->translate(_('Character code')); ?></th>
                            <th><?php echo $this->translate(_('Description')); ?></th>
                            <th><?php echo $this->translate(_('Actions')); ?></th>
                        </tr>
                    </thead>

                    <tbody>      
                        <?php if ($this->publication_group) : ?>
                            <?php foreach ($this->publication_group as $publication_group): ?>
                                <tr>
                                    <td class="col-chk">&nbsp;</td>
                                    <td class="col-first"><?php echo $this->Escape($publication_group->name); ?></td>
                                    <td class="col-second"><?php echo $this->Escape($publication_group->ident); ?></td>
                                    <td class="col-second"><?php echo $this->Escape($publication_group->description); ?></td>
                                    <td class="row-nav">
                                        <?php $actionButtons[0]['params']['group_id'] = $publication_group->publication_group_id; ?>
                                        <?php $actionButtons[1]['params']['group_id'] = $publication_group->publication_group_id; ?>
                                        <?php echo $this->navigation()->menu(new Zend_Navigation($actionButtons)); ?>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </tbody>                
                </table>
                <?php /* <input type="submit" id="submit" class="submit" value="<?php echo $this->translate(_('Save')); ?>" name="submit"/> */ ?>
            </form>
        </div>
    </div>
</div>