<?php
$actionButtons = array(
    array(
        'label' => $this->translate(_('edit')),
        'module' => 'publication',
        'controller' => 'management',
        'action' => 'edit-publication',
        'route' => 'admin',
        'resource' => 'publication:management',
        'privilege' => 'edit-publication',
        'class' => 'table-edit-link',
        'reset_params' => true
    ),
    array(
        'label' => $this->translate(_('delete')),
        'module' => 'publication',
        'controller' => 'management',
        'action' => 'delete-publication',
        'route' => 'admin',
        'resource' => 'publication:management',
        'privilege' => 'delete-publication',
        'class' => 'table-delete-link',
        'reset_params' => true
    )
);
?>
<div class="box">
    <h4 class="white ">

        <div><?php echo $this->translate(_('Publications')); ?> <?php echo isset($this->group->name) ? ' / ' . $this->group->name : ''; ?></div>
    </h4>
    <div class="box-container ">
        <div>
            <?php if (count($this->publications)): ?>
            <form  method="post" action="" enctype="application/x-www-form-urlencoded">
                <table class="table-long">
                    <thead>
                        <tr>
                            <th></th>
                            <th><?php echo $this->translate(_('Date')); ?></th>
                            <th><?php echo $this->translate(_('Image')); ?></th>
                            <th><?php echo $this->translate(_('Name')); ?></th>
                            <th><?php echo $this->translate(_('Character code')); ?></th>
                            <th><?php echo $this->translate(_('Actions')); ?></th>
                        </tr>
                    </thead>

                    <tbody>                         
                        <?php foreach ($this->publications as $publication): ?>
                            <tr<?php if($publication->status == 0) echo ' style="background:#FCCACA"';?>>
                                <td class="col-chk">&nbsp;</td>
                                <td class="col-first"><?php echo date($this->Escape($publication->date_format), strtotime($this->Escape($publication->date_post))); ?></td>
                                <td class="col-second">
                                     <?php if('' != $publication->thumbnail): ?>
                                        <img height="50" src="/images/publication/<?php echo $publication->thumbnail; ?>" alt="<?php echo $publication->title; ?>" />
                                    <?php endif;?>
                                </td>                                
                                <td class="col-second"><?php echo $this->Escape($publication->title); ?></td>
                                <td class="col-second"><?php echo $this->Escape($publication->ident); ?></td>
                                <td class="row-nav">
                                    <?php $actionButtons[0]['params']['publication_id'] = $publication->publication_id; ?>
                                    <?php $actionButtons[1]['params']['publication_id'] = $publication->publication_id; ?>
                                    <?php echo $this->navigation()->menu(new Zend_Navigation($actionButtons)); ?>                                                                     
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>                
                </table>
               <?php if ($this->publications instanceof Zend_Paginator): ?>
                <?php echo $this->pagination($this->pagination_config)->create_links(); ?>
               <?php endif; ?> 
               <?php /* <input type="submit" id="submit" class="submit" value="<?php echo $this->translate(_('Save')); ?>" name="submit"/>*/?>
            </form>    
            <?php else: ?>
                <?php if ($this->group_id == 0) : ?>
                    <p><?php echo $this->translate(_('Please select group')); ?></p>
                <?php else: ?>
                    <p><?php echo $this->translate(_('No items')); ?></p>
                <?php endif; ?>
            <?php endif; ?>
        </div>
    </div>
</div>