<ul class="soc_links">
    <li><span><?php echo $this->translate('Read us'); ?></span></li>
    <?php
// loop root level (only has Home, but later may have an Admin root page?)
    foreach ($this->container as $page) {
        // check if it is active (not recursive)
        //print_r($page);

        $isActive = $page->isActive(false);
        $liClass = $isActive ? ' class="active"' : '';
        $html = array();
        if ($this->navigation()->accept($page)) {
            if ($page->_label !== null && $page->isVisible(true)) {

                $html[] = "<li{$liClass}>";
                if ($href = $page->getHref())
                    $html[] = "<a target=\"_blank\" href=\"{$href}\">";
                else
                    $html[] = "<span>";
                $html[] = '<img src="/images/linc/' . $page->image . '" alt="' . $page->getLabel() . '"/>';
                //$html[] = $page->getLabel();
                if ($href)
                    $html[] = "</a>";
                else
                    $html[] = "</span>";
                $html[] = "</li>";

                //echo '<li ' . $liClass . '>' . $this->menu()->htmlify($page) . '</li>', PHP_EOL;
            }
        }

        echo join(PHP_EOL, $html);
    }
    /*
      <li><a href=""><img src="/layout/hd_soc01.png" width="22" height="22" alt="" /></a></li>
      <li><a href=""><img src="/layout/hd_soc02.png" width="22" height="22"  alt="" /></a></li>
      <li><a href=""><img src="/layout/hd_soc03.png" width="22" height="22"  alt="" /></a></li>
     */
    ?>
</ul>