<div class="breadcrumbs">
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a itemprop="url" href="<?php echo $this->url(array('lang' => $this->currentLang), 'default', true); ?>">
            <span itemprop="title"><?php echo $this->translate(_('Main')); ?></span></a>»</div>
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <span itemprop="title"><?php echo $this->contactSetting->title; ?></span>
    </div>
    <span class="clr"></span>
</div> 

<h1 class="title3"><?php echo $this->contactSetting->title; ?></h1>

<div class="content_box contact">
  <div class="text">
    <?php echo $this->contactSetting->body; ?>
  </div>

  <div class="map_wr" id="map">
    <div class="map_box">
      <?php echo $this->contactSetting->map_address; ?>
    </div>
  </div>
    <?php $settings = Zend_Registry::get('site_settings'); ?>

    <div class="contact-box" id="feedback_form">
        <h3 class="title4"><?php echo $this->translate(_('Feedback')); ?></h3>
        <?php echo '' != $this->message ? "<p class='messg'>" . $this->message . "</p>" : ''; ?>

        <?php echo $this->feedbackForm; ?>


        <?php /* <div class="required_text"><?php echo $this->translate(_('Required fields are marked with an asterisk')); ?> <span class="required">*</span></div> */ ?>
        <div class="clr"></div>
    </div>
    <?php /*
      <div class="map_container">
      <?php if ('' != $settings['map_image_full']): ?>
      <div class="map_image">
      <h3><?php echo $this->translate(_('Map')); ?></h3>
      <a  href="/images/contact/<?php echo $this->Escape($settings['map_image_full']); ?>" class="lightbox" >
      <img src="/images/contact/<?php echo $this->Escape($settings['map_image_preview']); ?>" alt="<?php echo $this->translate(_('Map')); ?>"/>
      </a>
      <div class="clr"></div>
      </div>
      <?php endif; ?>
      <div class="map_address">
      <?php echo $this->contactSetting->map_address; ?>
      </div>
      </div>
     */ ?>
    <div class="clr"></div>

</div>


