<div class="box">
    <h4 class="white ">
        
        <div><?php echo $this->translate(_('News')); ?></div>
    </h4>
    <div class="box-container ">
        <div>

            <form  method="post" action="" enctype="application/x-www-form-urlencoded"><table class="table-long">
                <thead>
                    <tr>
                        <th></th>
                        <th><?php echo $this->translate(_('Name')); ?></th>
                        <th><?php echo $this->translate(_('Character code')); ?></th>
                        <th><?php echo $this->translate(_('Date')); ?></th>
                        <th><?php echo $this->translate(_('Actions')); ?></th>
                    </tr>
                </thead>
                
                <tbody>                         
                   <?php foreach($this->feedbacks as $feedback): ?>
                        <tr>
                            <td class="col-chk">&nbsp;</td>
                            <td class="col-first"><?php echo $this->Escape($feedback->title);?></td>
                            <td class="col-second"><?php echo $this->Escape($feedback->date);?></td>
                            <td class="row-nav">
                                <a class="table-edit-link" href="<?php echo $this->url(array(
                                        'module' => 'default',
                                        'controller' => 'contact',
                                        'action' => 'edit',
                                        'feedback_id' => $feedback->feedback_id), 'admin', true)?>"><?php echo $this->translate(_('edit')); ?></a>

                                <span class="hidden"> | </span>

                                <a class="table-delete-link"  href="<?php echo $this->url(array(
                                        'module' => 'default',
                                        'controller' => 'contact',
                                        'action' => 'delete',
                                        'feedback_id' => $feedback->feedback_id), 'admin', true)?>"><?php echo $this->translate(_('delete')); ?></a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>                
            </table>
            <?php /* <input type="submit" id="submit" class="submit" value="<?php echo $this->translate(_('Save')); ?>" name="submit"/>*/?>
            </form>
        </div>
    </div>
</div>