<div class="box">
    <h4 class="white ">

        <div><?php echo $this->translate(_('Contact info')); ?></div>
    </h4>
    <div class="box-container ">
        <div>

            <div id="tabs">
                <ul>
                    <?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
                        <li><a href="#form_<?php echo $lang->code; ?>-element"><?php echo $lang->name; ?></a></li>                      
                    <?php endforeach; ?>
                </ul>
                <!-- start id-form -->
                <?php echo $this->settingsForm; ?>
                <!-- end id-form  -->
            </div>


        </div>
        <div style="clear: both;"></div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $( "#tabs" ).tabs();
    });
</script>
<style type="text/css">
<?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
        #form_<?php echo $lang->code; ?>-label {
            display: none;
        }  
<?php endforeach; ?>
    
</style>

<?php if ($this->contactSetting['map_image_thumbnail']) : ?>
    <script type="text/javascript">
        $('#delete_image-element').append('<img src="/images/contact/<?php echo $this->contactSetting['map_image_thumbnail']; ?><?php echo '?tmp='.time();?>" alt="map" />');
    </script>
<?php else : ?>    
    <script type="text/javascript">
        $('#delete_image-label').hide();
        $('#delete_image-element').hide();            
    </script>
<?php endif; ?>
    
