<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
    <head>
        <?php echo $this->headTitle() . "\n"; ?>
        <?php echo $this->headMeta() . "\n"; ?>
        <?php $this->headLink()->appendStylesheet($this->baseUrl('/system/css/reset.css')); ?>
        <?php $this->headLink()->appendStylesheet($this->baseUrl('/system/css/style.css')); ?>        
        <?php $this->headLink()->appendStylesheet($this->baseUrl('/system/css/pagination.css')); ?>
        <?php $this->headLink()->appendStylesheet($this->baseUrl('/system/css/ui-lightness/jquery-ui-1.8.13.custom.css')); ?>
        <?php $this->headLink()->appendStylesheet($this->baseUrl('/system/css/jquery.Jcrop.css')); ?>         
        <?php $this->headLink()->appendStylesheet($this->baseUrl('/system/css/jquery.treeview.css')); ?> 
        <?php //$this->headLink()->appendStylesheet($this->baseUrl('/css/jquery.autocomplete.css')); ?>  
        
        <?php echo $this->headLink() . "\n"; ?>
        <?php //echo $this->compressStyle('combine') . "\n"; ?>
        <?php $this->headScript()->appendFile($this->baseUrl('/system/js/jquery-1.8.2.min.js')); ?>
        <?php $this->headScript()->appendFile($this->baseUrl('/system/js/jquery-ui-1.9.1.custom.min.js')); ?>
        <?php $this->headScript()->appendFile($this->baseUrl('/system/js/jquery-ui-timepicker-addon.js')); ?>
        <?php $this->headScript()->appendFile($this->baseUrl('/system/js/jquery.corner.js')); ?>
        <?php //$this->headScript()->appendFile($this->baseUrl('/system/js/jquery.autocomplete-min.js')); ?>
        <?php $this->headScript()->appendFile($this->baseUrl('/system/js/jquery.imgPreview.js')); ?>
        <?php $this->headScript()->appendFile($this->baseUrl('/system/js/core.js')); ?>
        <?php $this->headScript()->appendFile($this->baseUrl('/system/js/init.js')); ?>
        <?php $this->headScript()->appendFile($this->baseUrl('/system/js/jquery.Jcrop.min.js')); ?>
        <?php $this->headScript()->appendFile($this->baseUrl('/system/js/ckeditor/ckeditor.js')); ?>
        <?php //$this->headScript()->appendFile($this->baseUrl('/system/js/ckeditor/adapters/jquery.js')); ?>
        <?php $this->headScript()->appendFile($this->baseUrl('/system/js/jquery.form.js')); ?>
        <?php $this->headScript()->appendFile($this->baseUrl('/system/js/jquery.cookie.js')); ?>
        <?php $this->headScript()->appendFile($this->baseUrl('/system/js/jquery.treeview.js')); ?>
        
        <?php 
        $request = Zend_Controller_Front::getInstance()->getRequest();
        $module_name =  $request->getModuleName();
        $js_file = APPLICATION_PATH . '/../www/system/js/sections/'.$module_name.'.js';
        if (file_exists($js_file)) {            
            $this->headScript()->appendFile($this->baseUrl('/system/js/sections/'.$module_name.'.js'));
        }?>
        <?php echo $this->headScript() . "\n"; ?>
        <?php //echo $this->compressScript('combine') ?>
        <script type="text/javascript">
            $(document).ready(function() {
                
                <?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
                    $.cmf.langList[<?php echo $key; ?>] = '<?php echo $lang->code; ?>';
                <?php endforeach; ?>
                                   
                $('a.table-delete-link').click(function() {
                    if(!confirm("<?php echo $this->translate(_('Do you really want to delete the object?')); ?>")) {
                        return false;
                    }
                });
            });
        </script>
    </head>

    <body class="m-<?php echo $module_name;?> ">
        <div id="container">
            <div id="header">
                <div id="top">
                    <h1><a href="/admin"><?php echo $this->translate(_('AdminPanel')); ?></a></h1>
                    <p id="userbox"><?php echo $this->translate(_('Hello')); ?> <strong><?php echo $this->AuthInfo('firstname') . ' ' . $this->AuthInfo('lastname') ?></strong><br/>
                        <span><a target="_blank" href="/"><?php echo $this->translate(_('Go to site')); ?></a>&nbsp; | &nbsp;<a href="/admin/user/management/edit/id/<?php echo $this->AuthInfo('user_id'); ?>"><?php echo $this->translate(_('Profile')); ?></a>&nbsp;| &nbsp;<a href="/user/auth/logout"><?php echo $this->translate(_('Logout')); ?></a></span>
                        <small><?php echo $this->translate(_('Today')); ?>: <span id="today_date"><?php echo date('d-m-Y'); ?></span> <span id="today_clock"><?php echo date('H:i:s'); ?></span></small>
                    </p>
                    <span class="clearFix">&nbsp;</span>
                </div>               
                <?php echo $this->navigation()->menu($this->adminMenu())->setMaxDepth(1)->setMinDepth(1)->setUlClass('menu'); ?>                
                <span class="clearFix">&nbsp;</span>
            </div><!-- end of #header -->

            <div id="content">                
                <div id="content-top">
                    <p><?php echo $this->navigation()->breadcrumbs($this->adminMenu()); ?></p>
                    <span class="clearFix">&nbsp;</span>                     

                </div><!-- end of div#content-top -->
                <div id="response-messages">
                    <?php echo $this->partial('admin/_messages.phtml', array('messagesSuccess' => $this->messagesSuccess, 'messagesError' => $this->messagesError)); ?>
                    <span class="clearFix">&nbsp;</span>
                </div>
                <div id="left-col">
                    <?php // Эти условия - временная мера. Надо сделать "Менеджер модулей" ?>
                    <?php if (is_dir(APPLICATION_PATH . '/modules/catalog')): ?>
                        <?php echo $this->partial('admin/_catalog_categories_menu_adm.phtml', array('categoriesMenuAdm' => $this->catalogCategoriesMenuAdm())); ?>
                    <?php endif; ?>
                    <?php if (is_dir(APPLICATION_PATH . '/modules/gallery')): ?>
                        <?php echo $this->partial('admin/_gallery_menu_adm.phtml', array('galleryMenuAdm' => $this->galleryMenuAdm())); ?>
                    <?php endif; ?>
                    <?php if (is_dir(APPLICATION_PATH . '/modules/publication')): ?>
                        <?php echo $this->partial('admin/_publication_groups_menu_adm.phtml', array('publicationGroupsMenuAdm' => $this->publicationGroupsMenuAdm())); ?>
                        <?php echo $this->partial('admin/_publication_categories_menu_adm.phtml', array('publicationCategoriesMenuAdm' => $this->publicationCategoriesMenuAdm())); ?>
                    <?php endif; ?>
                    <?php echo $this->partial('admin/_faq_categories_menu_adm.phtml', array('faqCategoriesMenuAdm' => $this->faqCategoriesMenuAdm())); ?>
                    <?php echo $this->partial('admin/_help_categories_menu_adm.phtml', array('helpCategoriesMenuAdm' => $this->helpCategoriesMenuAdm())); ?>
                    <?php if (is_dir(APPLICATION_PATH . '/modules/file')): ?>
                        <?php echo $this->partial('admin/_file_groups_adm.phtml', array('fileGroupsMenuAdm' => $this->fileGroupsMenuAdm())); ?>
                    <?php endif; ?>
                    <div class="box">
                        <h4 class="yellow"><div><?php echo $this->translate(_('Navigation')); ?></div></h4>
                        <div class="box-container">
                            <div><!-- use no-padding wherever you need element padding gone -->                                
                                <?php
                                echo $this->navigation()->menu($this->adminMenu())
                                        ->setMinDepth(1)
                                        ->setMaxDepth(2)
                                        ->setUlClass('list-links')     
                                        //->setRenderParents(false)
                                        ->setOnlyActiveBranch(true);
                                ?>
                            </div>
                        </div><!--end of div.box-container -->
                    </div><!-- end of div.box --><!--end of div.box --><!-- end of div.box -->                   
                </div> <!-- end of div#left-col -->

                <div class="full-col" id="mid-col"><!-- end of div.box -->

                    <?php echo $this->layout()->content ?>


                </div><!-- end of div#mid-col --><!-- end of div#right-col -->

                <span class="clearFix">&nbsp;</span>
            </div>

            <div class="push"></div>
        </div><!-- end of #container -->

        <div id="footer-wrap">
            <div id="footer">

                <div id="footer-bottom">
                    <div class="align-left">                     
                        <p>© 2010-<?php echo date('Y') ?> version <?php echo ARTCMF_Version::VERSION; ?></p>
                    </div>
                    <?php /*<div class="align-right">
                        <p><a href="/admin/default/admin/help"><?php echo $this->translate(_('FAQ')); ?> / <?php echo $this->translate(_('Help')); ?></a></p>
                    </div>*/?>
                    <span class="clearFix"></span>

                </div>

            </div>
        </div>

    </body>
</html>
