<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title></title>
        <link rel="stylesheet" href="/system/css/login.css" type="text/css" media="screen" title="default" />
    </head>
    <body id="login-bg">

        <!-- Start: login-holder -->
        <div id="login-holder">

            <div class="clear"></div>
            <?php echo $this->layout()->content ?>

        </div>
        <!-- End: login-holder -->
    </body>
</html>

