<?php
$request = Zend_Controller_Front::getInstance()->getRequest();
$class = array();
$class[] = 'm-' . $request->getModuleName();
$class[] = 'c-' . $request->getControllerName();
$class[] = 'a-' . $request->getActionName();

$settings = Zend_Registry::get('site_settings');
$currentLang = Zend_Registry::get('Current_Lang');
//$currency = Zend_Registry::get('Currency');
//$currencies = $currency->getCurrencies();
//$user_id = $this->authInfo('user_id');
?>
<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <?php echo $this->render('partial/head.phtml') ?>
    <body class="<?php echo implode(' ', $class) ?>">
        <?php echo $this->render('partial/messages.phtml') ?>
        <div class="body">
            <?php echo $this->render('partial/header.phtml') ?>
            <div class="content cont_width">
                <?php echo $this->layout()->content ?>
            </div>
            <div class="clear">&nbsp;</div>
            <?php echo $this->render('partial/footer.phtml') ?>
        </div>
            <?php echo $site_settings['tracking_code']; ?>
        <script type="text/javascript">
            $(function() {
                $('a.lightbox').lightBox({
                    imageLoading: '/layout/lightbox/loading.gif',
                    imageBtnClose: '/layout/lightbox/close.gif',
                    imageBtnPrev: '/layout/lightbox/prev.gif',
                    imageBtnNext: '/layout/lightbox/next.gif'
                });
            });

        </script>
    </body>
</html>






