<?php
$request = Zend_Controller_Front::getInstance()->getRequest();
$class = array();
$class['m'] = 'm-' . $request->getModuleName();
$class['c'] = 'c-' . $request->getControllerName();
$class['a'] = 'a-' . $request->getActionName();

$site_settings = Zend_Registry::get('site_settings');
$currentLang = Zend_Registry::get('Current_Lang');
//$currency = Zend_Registry::get('Currency');
//$currencies = $currency->getCurrencies();
//$user_id = $this->authInfo('user_id');
?>
<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <?php echo $this->render('partial/head.phtml') ?>
    <body class="<?php echo implode(' ', $class) . ' current_lang_' . $currentLang;  ?>">
        <div class="wrapper">
      
            <div class="header">
                <div class="hd_line">
                    <div class="hd_line2">
                        <div class="wrap">
                            <?php echo $this->render('partial/header_page.phtml') ?>
                        </div>
                    </div>
                    
                </div>
                
            </div><!-- end header -->

            <div class="content">
                <div class="wrap">

                    <?php echo $this->layout()->content ?>
                </div>
            </div>

            <div class="footer">
                <?php echo $this->render('partial/footer.phtml') ?>
            </div>
            
            <?php echo $site_settings['tracking_code']; ?>
        </div>
    </body>
</html>