<?php
$request = Zend_Controller_Front::getInstance()->getRequest();
$class = array();
$class['m'] = 'm-' . $request->getModuleName();
$class['c'] = 'c-' . $request->getControllerName();
$class['a'] = 'a-' . $request->getActionName();

$site_settings = Zend_Registry::get('site_settings');
$currentLang = Zend_Registry::get('Current_Lang');
//$currency = Zend_Registry::get('Currency');
//$currencies = $currency->getCurrencies();
//$user_id = $this->authInfo('user_id');
?>
<?php echo $this->doctype('XHTML1_TRANSITIONAL') ?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <?php echo $this->render('partial/head.phtml') ?>
    <body id="main" class="<?php echo implode(' ', $class) . ' current_lang_' . $currentLang; ?>">
        <div class="wrapper">

            <div class="header">
                <?php echo $this->render('partial/header.phtml') ?>
            </div>


            <div class="content">
                <div class="wrap">
                
                    <h3 class="title">Региональный представитель в Украине брендов</h3>
                    
                    <div class="car_wr">
                       <div class="jcarousel-skin-default">
                            <div class="jcarousel" id="jcarousel">
                                <ul>
                                    <li><a href="#"><img src="/layout/brend01.jpg" width="227" height="70" alt="" /></a></li>
                                    <li><a href="#"><img src="/layout/brend02.jpg" width="227" height="70" alt="" /></a></li>
                                    <li><a href="#"><img src="/layout/brend03.jpg" width="227" height="70" alt="" /></a></li>
                                    <li><a href="#"><img src="/layout/brend04.jpg" width="227" height="70" alt="" /></a></li>
                                    <li><a href="#"><img src="/layout/brend01.jpg" width="227" height="70" alt="" /></a></li>
                                    <li><a href="#"><img src="/layout/brend02.jpg" width="227" height="70" alt="" /></a></li>
                                    <li><a href="#"><img src="/layout/brend03.jpg" width="227" height="70" alt="" /></a></li>
                                    <li><a href="#"><img src="/layout/brend04.jpg" width="227" height="70" alt="" /></a></li>
                                </ul>
                            </div>
                            <a class="car_btn lbtn" href="#" onClick="$('#jcarousel').jcarousel('scroll', '-=1'); return false;"></a>
                            <a class="car_btn rbtn" href="#" onClick="$('#jcarousel').jcarousel('scroll', '+=1'); return false;"></a>
                            <div class="clear"></div>
                       </div>
                    </div>
                </div>
            </div>

            <div class="footer">

                <div class="top_line">
                    <div class="wr">
                        <div class="wr2">
                            <div class="wrap">
                                <div class="lc">
                                    <?php
                                        $news = $this->lastPublications('novosti'); 
                                        $publications = $news->getPublications();
                                    ?>

                                    <?php if (0 < count($news)): ?>
                                    <h3 class="title">Новости</h3>
                                    <div class="news_list side_news">
                                        
                                        <? foreach($publications as $key => $publication):?>
                                        <div class="news">
                                            <p class="date"><?php echo date($publication->date_format, strtotime($publication->date_post)); ?>15 марта  2013г.</p>
                                            <p><?php echo $this->truncate(strip_tags($publication->body), 120, ' '); ?></p>
                                        </div>
                                        <? endforeach;?>

                                        <p class="more"><a href="">Все новости »</a></p>
                                    </div>
                                    <?php endif;?>
                                
                                </div>
                                <div class="rc">
                                    <?php echo $this->layout()->content ?>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>


                <?php echo $this->render('partial/footer.phtml') ?>
            </div>

        </div>
            <?php echo $site_settings['tracking_code']; ?>
    </body>
</html>