<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>  
    <?php echo $this->headTitle() . PHP_EOL; ?>
    <?php $settings = Zend_Registry::get('site_settings'); ?>
</head>
<body>
    <div class="header">
    <?php echo $settings['site_name']; ?>
    <em><?php echo $settings['site_slogan'];?></em>
    </div>
    <?php echo $this->layout()->content ?>
</body>
</html>
