<?php
$actionButtons = array(
    array(
        'label' => $this->translate(_('edit')),
        'module' => 'default',
        'controller' => 'settings',
        'action' => 'edit',
        'route' => 'admin',
        'resource' => 'default:settings',
        'privilege' => 'edit',
        'class' => 'table-edit-link',
        'reset_params' => true
    ),
    array(
        'label' => $this->translate(_('delete')),
        'module' => 'default',
        'controller' => 'settings',
        'action' => 'delete',
        'route' => 'admin',
        'resource' => 'default:settings',
        'privilege' => 'delete',
        'class' => 'table-delete-link',
        'reset_params' => true
    )
);
?>
<div class="box">
    <h4 class="white ">

        <div><?php echo $this->translate(_('Settings')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
			<?php /*
            <?php echo $this->translate(_('Module')); ?>:
            <select class="modules-select" id="modules_select">                
                <?php foreach ($this->settings_modules as $settings_module): ?>
                    <option value="<?php echo $settings_module->module ?>"<?php echo ($settings_module->module == $this->setting_module) ? " selected" : "" ?>>
                        <?php echo $this->translate(Default_Model_Settings::getModuleName($settings_module->module)); ?>
                    </option>
                <?php endforeach; ?>
            </select>
			*/?>
            <?php if (count($this->settings)): ?>
                <form  method="post" action="" enctype="application/x-www-form-urlencoded"><table class="table-long">
                        <thead>
                            <tr>
                                <th></th>
                                <th><?php echo $this->translate(_('Name')); ?></th>
                                <th><?php echo $this->translate(_('Value')); ?></th>
                                <th><?php echo $this->translate(_('Actions')); ?></th>
                            </tr>
                        </thead>

                        <tbody>
                            <?php foreach ($this->settings as $setting): ?>
                                <tr>
                                    <td class="col-chk">&nbsp;</td>
                                    <td class="col-first"><span title="<?php echo $this->Escape($setting->key); ?>"><?php echo $this->Escape($setting->name); ?></span></td>
                                    <td class="col-second"><?php echo $this->truncate(strip_tags($setting->value), 250, ' ', '...'); ?></td>
                                    <td class="row-nav">
                                        <?php $actionButtons[0]['params']['setting_id'] = $setting->setting_id; ?>
                                        <?php $actionButtons[1]['params']['setting_id'] = $setting->setting_id; ?>                                        
                                        <?php echo $this->navigation()->menu(new Zend_Navigation($actionButtons)); ?>                                     
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                    <?php /* <input type="submit" id="submit" class="submit" value="<?php echo $this->translate(_('Save')); ?>" name="submit"/> */ ?>
                </form>
            <?php endif; ?>
        </div>
    </div>
</div>

<div id="dialog"></div>

<script>
    $(document).ready(function () {

        $("#dialog").dialog({
            autoOpen: false,
            position: 'center' ,
            title: '<?php echo $this->translate(_('Media Files')) ?>',
            draggable: true,
            width : 800,
            height : 480, 
            resizable : true,
            modal : true
        });

        $('a[href="#mediafiles"]').click( function() {
            $("#dialog").load('/system/js/elfinder/elfinder.html', function() {
                $("#dialog").dialog("open");
            });
        })



        $('#modules_select').change(function() {
            window.location.href = "<?php echo $this->url(array('controller' => 'settings'), 'admin', true); ?>/index/setting_module/" + $(this).val();

        });
    });
</script>