<div class="box">
    <h4 class="white ">
        <div><?php echo $this->translate(_('Edit user')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
            <?php echo $this->userForm; ?>
        </div>
    </div>
</div>