<?php $roles = array('Root' => 0, 'Admin' => 1, 'Manager' => 2, 'Redactor' => 3, 'Member' => 4); ?>
<div class="box">
    <h4 class="white ">
        <div><?php echo $this->translate(_('Users')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
            <form  method="post" action="" enctype="application/x-www-form-urlencoded">
                <table class="table-long">
                    <thead>
                        <tr>
                            <th></th>
                            <th><?php echo $this->translate(_('Name')); ?></th>
                            <th><?php echo $this->translate(_('Email')); ?></th>
                            <th><?php echo $this->translate(_('Role')); ?></th>                        
                            <th><?php echo $this->translate(_('Date of registered')); ?></th>
                            <?php /* <th><?php echo $this->translate(_('Register IP')); ?></th> */ ?>
                            <th><?php echo $this->translate(_('Status')); ?></th>
                            <th><?php echo $this->translate(_('Actions')); ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($this->users as $user): ?>     
                            <?php if ($roles[$this->AuthInfo('role')] <= $roles[$user->role]): ?>
                                <tr <?php echo $user->status ? '' : 'style="background-color: #FCCACA;"'; ?>>
                                    <td class="col-chk">&nbsp;</td>
                                    <td class="col-first"><?php echo $this->Escape($user->fullname); ?></td>
                                    <td class="col-second"><?php echo $this->Escape($user->email); ?></td>
                                    <td class="col-second"><?php echo $this->translate($user->role); ?></td>
                                    <td class="col-second"><?php echo $this->Escape($user->created_at); ?></td>
                                    <?php /* <td class="col-second"><?php  echo $this->Escape($user->register_ip); ?></td> */ ?>
                                    <td class="col-second"><?php echo $user->status ? $this->translate(_('Active')) : $this->translate(_('Inactive')); ?></td>

                                    <td class="row-nav">
                                        <a class="table-edit-link" href="<?php
                            echo $this->url(array(
                                'module' => 'user',
                                'controller' => 'management',
                                'action' => 'edit',
                                'id' => $user->user_id), 'admin', true);
                                    ?>"><?php echo $this->translate(_('edit')); ?></a>
                                           <?php if (1 != $user->user_id AND $this->AuthInfo('user_id') != $user->user_id) : ?>
                                        <span class="hidden"> | </span>

                                        <a class="table-delete-link"  href="<?php
                                   echo $this->url(array(
                                       'module' => 'user',
                                       'controller' => 'management',
                                       'action' => 'delete',
                                       'id' => $user->user_id), 'admin', true);
                                           ?>"><?php echo $this->translate(_('delete')); ?></a></td>
                                    <?php endif; ?>
                            </tr>
                            <?php endif; ?> 
                        <?php endforeach; ?>
                    </tbody>
                </table>            
            </form>
            <?php if ($this->users instanceof Zend_Paginator): ?>
                <?php echo $this->pagination($this->pagination_config)->create_links(); ?>
            <?php endif; ?> 
        </div>
    </div>
</div>