<div class="success_text"></div>
<div class="error_text"></div>
<div class="line element-email">
    <div class="input">
        <div><?php echo $this->element->email; ?></div>
    </div>
    <div class="clear"></div>
    <?php if (0 < count($this->element->email->getMessages())): ?>
        <?php echo $this->formErrors($this->element->email->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line element-passwd">
    <div class="input">
        <div><?php echo $this->element->passwd; ?></div>
    </div>
    <div class="clear"></div>
    <?php if (0 < count($this->element->passwd->getMessages())): ?>
        <?php echo $this->formErrors($this->element->passwd->getMessages()); ?>
    <?php endif; ?>
</div>
<div class="line element-submit">
    <span class="btn2"><span><?php echo $this->element->submit; ?></span></span>
    <a href="/user/auth/forgot" class="forgot-pwd"><?php echo $this->translate(_('Forgot password?')); ?></a>
    <a href="/user/auth/register" class="reg_link reg">Регистрация</a>

    <div class="clear"></div>
</div>