#login-bg	{
    background: url(/layout/admin/login/login_bg.jpg) repeat-y top center;
}
#login-holder	{
    margin: 175px auto 0 auto;
    width: 508px;
}
#loginbox	{
     background: url("/layout/admin/login/loginbox_bg.png") no-repeat scroll 0 0 transparent;
    font-size: 12px;
    height: 212px;
    line-height: 12px;
    padding-bottom: 30px;
    padding-top: 30px;
    position: relative;
    width: 508px;
}

#login-inner	{
    color: #161616;
    font-family: Tahoma;
    font-size: 13px;
    line-height: 12px;
    margin: 0 auto;
    width:396px;
}
#login-inner label	{
    color: #161616;
    cursor: pointer;
    font-family: Tahoma;
    font-weight: bold;
    line-height: 12px;
    padding-left: 10px;

}
.checkbox-size	{
    width:13px;
    height:13px;
    margin: 5px 0;

}

/*--------------*/

#login-inner label, #forgot-inner label	{
    padding: 0 0 6px 0;
    text-align: left;
    width: 95px;
	text-align: left;
}
#login-inner dl {margin: 0;}
#login-inner dt {display: block; width:65px; float: left; padding-top: 32px; margin-left: 20px;}
#login-inner dd {display: block;  width: 300px; float: left;padding-top: 20px; margin-left: 10px; position:relative;}

dt#login-label { display:none;}

#login-inner #email, #login-inner #passwd{
    background: url(/layout/admin/login/inp_login.gif) no-repeat;
    border: none;
    color: #fff;
    font-size: 16px;
    height: 28px;
    padding: 6px 6px 0 10px;
    width: 203px;    
}

#login-inner #login	{
    background: url(/layout/admin/login/submit_login.gif) no-repeat;
    border: none;
    cursor: pointer;
    display: block;
    height: 29px;
    text-indent: -3000px;
    width: 73px;
	margin-left: 85px;
}

/*---------------*/
#login-inner th	{
    padding: 0 0 6px 0;
    text-align: left;
    width: 95px;
}
#login-inner td	{
    padding: 0 0 6px 0;
}
.login-inp	{
    background: url(/layout/admin/login/inp_login.gif) no-repeat;
    border: none;
    color: #fff;
    font-size: 16px;
    height: 28px;
    padding: 6px 6px 0 10px;
    width: 204px;
}
#logo-login	{
    float: left;
    height: 35px;
    margin: 145px 0 0 15px;
}
a.forgot-pwd	{
    bottom: 30px;
    color: #161616;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    line-height: 12px;
    position: absolute;
    right: 40px;
}
a:hover.forgot-pwd	{
    color: #fff;
}
#forgotbox-text	{
    color: #161616;
    font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;
    line-height: 12px;
    margin: 0 auto 40px auto;
    width: 380px;
}
#forgot-inner	{
    color: #161616;
    font-family: Tahoma;
    font-size: 13px;
    line-height: 12px;
    margin: 0 auto;
    width: 330px;
}
#forgot-inner label	{
    color: #161616;
    cursor: pointer;
    font-family: Tahoma;
    font-weight: bold;
    line-height: 12px;
    padding-left: 10px;
}
#forgot-inner th	{
    padding: 0 0 6px 0;
    text-align: left;
    width: 110px;
}
#forgot-inner td	{
    padding: 0 0 6px 0;
}
a.back-login	{
    background: url(/layout/admin/login/icon_back_login.gif) no-repeat 0 4px;
    bottom: 30px;
    color: #161616;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    line-height: 12px;
    padding: 0 0 0 10px;
    position: absolute;
    right: 40px;
}
a:hover.back-login	{
    color: #fff;
}
.submit-login	{
    background: url(/layout/admin/login/submit_login.gif) no-repeat;
    border: none;
    cursor: pointer;
    display: block;
    height: 29px;
    text-indent: -3000px;
    width: 73px;
}
.submit-login:hover	{
    background: url(/layout/admin/login/submit_login.gif) no-repeat 0 -29px;
}

.button_add {
    background: url("/images/shared/button_add.png") no-repeat scroll 0 0 #76ab43;
    width: 177px;
    margin: 0 10px 10px 0;
    padding: 13px 0 12px 45px;
    display: block;
    color: #ffffff;
    font: bold 14px Tahoma;
}

.button_list {
    background: url("/images/shared/button_list.png") no-repeat scroll 0 0 #76ab43;
    width: 177px;
    margin: 0 10px 10px 0;
    padding: 13px 0 12px 45px;
    display: block;
    color: #ffffff;
    font: bold 14px Tahoma;
}

ul.errors {padding: 0; position: absolute; right: -148px; width: 200px;background: black;padding: 10px; top: 14%; border-radius:5px;}
p.error {padding:10px 0 0; margin: 0;text-align: center;}
ul.errors li {color:#ccc; font: normal 10px Tahoma,Verdana,Arial; list-style: none;}
dt label {font: bold 13px Tahoma,Verdana,Arial;}
dd p.description {font: normal 11px Tahoma,Verdana,Arial;}


#loginbox {
    background: url("/layout/admin/login/loginbox_bg.png") no-repeat scroll 0 0 transparent;
    font-size: 12px;
    height: 212px;
    line-height: 12px;
    padding-bottom: 41px;
    padding-top: 16px;
    position: relative;
    width: 508px;
}
#account_login #captcha-element img
{
    float: left;
    margin: 0 5px 0 0;
}
#account_login #captcha-element input[type="text"] {
    height: 28px;
    line-height: 28px;
    border-radius: 5px;
    background: #383838;
    border: 1px solid #858383;
    width: 124px;
    float: left;
    margin: 2px 0 0;
    color: white;
    padding: 0 10px;
}

#account_login #captcha-input-label

{ margin-top:-14px;}

#no_csrf-element .errors { padding: 0; position: absolute; right: -88px; width: 200px; background:black; padding: 10px;top: -219%; }






#block_move, #block_rotate, .captcha_reload, #block{
position: absolute;
left: 0px;
bottom: 0px;
color: #fff;
width: 70px;
height: 35px;
z-index: 8;
cursor: pointer;
}
.captcha_reload{z-index:9;}
#block{background:#000;opacity: 0.6;z-index:7;display: none;}

#block_move, #block_rotate {background: url("/system/img/reload.png") no-repeat center center;}
#block_move{
    /*background: red;*/
    display: none;
}
#block_rotate{
    /*background: green;*/
    display: none;
}
/*
.nivo-captcha{
background: #000;
opacity: 0.6;
width: 70px;
height: 35px;
display: none;
}*/

.reload{
    background: url("/system/img/reload.png") no-repeat center center;
    width: 70px;
    height: 35px;
}

.upd-captcha{
  display: block;
}