div.digg {
    margin: 0;
    padding: 15px 0 ;
    text-align: center;
	height:25px;
}
div.digg a {    
    color: #000;
    margin: 2px;   
    text-decoration: none;
	padding:6px 9px;
	line-height: 20px;
	border-radius:5px;
	behavior: url(/system/css/pie.htc);
	position:relative;
	
}
div.digg a:hover, div.digg a:active {
    color: #FFFFFF;
	background: url("/layout/admin/bg_header.jpg") no-repeat center bottom;
}
div.digg span.current {
    background-color:#1399EE;    
    color: #FFFFFF;
    font-weight: bold;
    margin: 2px;
    padding:6px 9px;
	line-height: 20px;
	border-radius:5px;
	behavior: url(/system/css/pie.htc);
	position:relative;
}
div.digg span.disabled {
    border: 1px solid #EEEEEE;
    color: #DDDDDD;
    margin: 2px;
    padding:6px 9px;
	border-radius:5px;
	behavior: url(/system/css/pie.htc);
	position:relative;
}

div.pagination.digg .pages { float:left;}
div.pagination.digg .pages_in { float:right;}