<div class="breadcrumbs">
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a itemprop="url" href="<?php echo $this->url(array('lang' => $this->currentLang), 'default', true); ?>">
            <span itemprop="title"><?php echo $this->translate(_('Main')); ?></span>
        </a>
    </div>
    <span class="clr"></span>
</div>
<div class="title_box">
    <h1><?php echo $this->translate(_('Register')); ?></h1>
</div>

<div class="block2">  
    <?php echo $this->translate('Спасибо! Теперь Вы зарегистрированы. И Вы успешно сможете войти.'); ?>
    <div class="clr"></div>  
</div>            