<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title></title>
        <link rel="stylesheet" href="/css/admin/login.css" type="text/css" media="screen" title="default" />
        <script type="text/javascript" src="/system/js/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="/system/js/jquery.rotate.js"></script>
    </head>
    <body id="login-bg">
        <!-- Start: login-holder -->
        <div id="login-holder">

            <div class="clear"></div>

            <!--  start loginbox ................................................................................. -->
            <div id="loginbox">
                <!--  start login-inner -->
                <div id="login-inner">		                  
                    <?php echo $this->loginAdminForm; ?>

                </div>
                <!--  end login-inner -->
                <div class="clear"></div>
                <?php //<a href="/user/forgot" class="forgot-pwd">Забыли пароль?</a> ?>
            </div>
            <!--  end loginbox -->
        </div>
        <!-- End: login-holder -->
        <script type="text/javascript">
                $(function() { 

                    $("#captcha-element").append($("<div></div>").addClass("captcha_reload"));
                    $(".captcha_reload").append($("<div></div>").attr({id:'block_move'}));
                    $(".captcha_reload").append($("<div></div>").attr({id:'block_rotate'}));
                    $(".captcha_reload").append($("<div></div>").attr({id:'block'}));
                    

                    var rotation = function (){
                        var angle = 0;
                        setInterval(function(){
                            angle+=20;
                            $("#block_rotate").rotate(angle);
                        },50);
                    }
                    rotation();

                    
                    $(".captcha_reload").hover(function(){
                        if(!$("#block_rotate").is(":visible")){
                            $("#block").fadeIn(300);
                            $("#block_move").fadeIn(200);
                        }
                    },
                    function(){
                        if(!$("#block_rotate").is(":visible")){
                            $("#block").fadeOut(300);
                            $("#block_move").hide();
                        }
                    });

                    $(".captcha_reload").click(function () {

                        $("#block_move").hide();
                        $("#block_rotate").show();


                        $.post("/contact/captcha", { },
                        function(data){
                            $('#captcha-element #captcha-id').val(data.id);
                            $('#captcha-element img').attr('src', data.src);
                            $('#captcha-element #captcha-input').val('');

                            $("#block_rotate").hide();
                            $("#block").fadeOut(300);
                        }, "json");
                        return false;                                                
                    });
                });
        </script>
    </body>
</html>

