<div class="breadcrumbs">
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a itemprop="url" href="<?php echo $this->url(array('lang' => $this->currentLang), 'default', true); ?>">
            <span itemprop="title"><?php echo $this->translate(_('Main')); ?></span>
        </a>
    </div>
    <span class="clr"></span>
</div>
<h1><?php echo $this->translate(_('Register')); ?></h1>
<div class="content_container">
    <div class="box_content" id="registerbox">       
        <p>Пожалуйста, заполните форму ниже, чтобы зарегистрироваться на сайте.</p>
        <?php echo $this->registerForm ?>
        <?php /* <div class="required_text"><?php echo $this->translate(_('Required fields are marked with an asterisk')); ?> <span class="required">*</span></div> */ ?>
        <div class="clr"></div>   
    </div>
    <!-- content begin -->
</div>

<script type="text/javascript">
    $(function() {
        jQuery('#captcha-input').after('<p id="reload_captcha" style="display: block; float: left; margin: 7px 0pt 0pt 9px;"><a onclick="reload_captcha_register(); return false;" href="#"></a></p>');
    });

    function reload_captcha_register() {
        jQuery.post("/contact/captcha", { },
        function(data){
            jQuery('form#register_form input#captcha-id').val(data.id);
            jQuery('form#register_form dd#captcha-element img').attr('src', data.src);
            jQuery('form#register_form dd#captcha-input').val('');
        }, "json");
    }

</script>    






