<div class="box">
    <h4 class="white ">
        
        <div>Отправителю будет отправлено письмо с ответом на e-mail, а вопрос будет удален! </div>
    </h4>
    <div class="box-container ">
        <div>

            <?php echo $this->faqForm; ?>
            
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
