<div class="box">
    <h4 class="white ">
        
        <div><?php echo $this->translate(_('Edit category')); ?></div>
    </h4>
    <div class="box-container ">
        <div>
            <?php if(1 != $this->category_faq->category_faq_id): ?>
             <a class="table-delete-link"  href="<?php echo $this->url(array(
                'controller' => 'faq',
                'action' => 'delete-category',
                'id' => $this->category_faq->category_faq_id), 'admin', true)
            ?>"><?php echo $this->translate(_('delete')); ?></a>
            <?php endif; ?>
            <?php echo $this->categoryForm;?>
        </div>
    </div>
</div>
