<div class="content sub">
    <div class="title">
        <h1><?php echo $this->Escape($this->faq_page->title); ?></h1>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {		
            //accordion
            $('#accordion').accordion();	
        });
    </script>
    <div id="accordion">
        <?php foreach ($this->faqs as $faq) : ?>
            <h3><?php echo $faq->query; ?></h3>
            <div>
                <?php echo $faq->answer; ?>
            </div>
        <?php endforeach; ?>
    </div>
</div>