
<div class="box">
    <h4 class="white ">

        <div>Faq</div>
    </h4>
    <div class="box-container ">
        <div>
            <?php if (count($this->faqs)): ?>
                <form  method="post" action="" enctype="application/x-www-form-urlencoded">
                    <table class="table-long">
                        <thead>
                            <tr>
                                <th></th>
                                <th><?php echo $this->translate(_('Query')); ?></th>
                                <th><?php echo $this->translate(_('Sorting')); ?></th>
                                <th><?php echo $this->translate(_('Actions')); ?></th>
                            </tr>
                        </thead>

                        <tbody>

                            <?php foreach ($this->faqs as $faq): ?>
                                <tr <?php echo $faq->status ? '' : 'style="background-color: #FFBBBB;"'; ?>>
                                    <td class="col-chk">&nbsp;</td>
                                    <td class="col-first"><?php echo $this->Escape($faq->query); ?></td>
                                    <td class="col-second"><?php echo $this->Escape($faq->sort_order); ?></td>
                                    <td class="row-nav">
                                        <?php if ($faq->status): ?>
                                            <a class="table-edit-link" href="<?php
                                echo $this->url(array(
                                    'controller' => 'faq',
                                    'action' => 'edit-faq',
                                    'id' => $faq->faq_id), 'admin', true)
                                            ?>"><?php echo $this->translate(_('edit')); ?></a>

                                            <span class="hidden"> | </span>

                                            <a class="table-delete-link"  href="<?php
                                   echo $this->url(array(
                                       'controller' => 'faq',
                                       'action' => 'delete-faq',
                                       'id' => $faq->faq_id), 'admin', true)
                                            ?>"><?php echo $this->translate(_('delete')); ?></a>
                                           <?php else: ?>
                                            <a class="table-edit-link" href="<?php
                                   echo $this->url(array(
                                       'controller' => 'faq',
                                       'action' => 'edit-faq',
                                       'id' => $faq->faq_id), 'admin', true)
                                               ?>"><?php echo $this->translate(_('Publish')); ?></a>

                                            <span class="hidden"> | </span>

                                            <a class="table-edit-link" href="<?php
                                   echo $this->url(array(
                                       'controller' => 'faq',
                                       'action' => 'editprivate-faq',
                                       'id' => $faq->faq_id), 'admin', true)
                                               ?>"><?php echo $this->translate(_('To Sender')); ?></a>

                                            <span class="hidden"> | </span>

                                            <a class="table-delete-link"  href="<?php
                                   echo $this->url(array(
                                       'controller' => 'faq',
                                       'action' => 'delete-faq',
                                       'id' => $faq->faq_id), 'admin', true)
                                               ?>"><?php echo $this->translate(_('delete')); ?></a>
                                           <?php endif; ?>
                                    </td>
                                </tr>
                            <?php endforeach; ?>

                        </tbody>
                    </table>
                    <?php /* <input type="submit" id="submit" class="submit" value="<?php echo $this->translate(_('Save')); ?>" name="submit"/> */ ?>
                </form>
            <?php else: ?>
                <?php if ($this->faq_category_id == 0) : ?>
                    <p><?php echo $this->translate(_('Please select category')); ?></p>
                <?php else: ?>
                    <p><?php echo $this->translate(_('No items')); ?></p>
                <?php endif; ?>
            <?php endif; ?>
        </div>
    </div>
</div>
