<div class="box">
    <h4 class="white ">
        
        <div><?php echo $this->translate(_('Edit page')); ?></div>
    </h4>
   <div class="box-container ">
        <div>

            <div id="tabs">
                <ul>
                    <?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
                        <li><a href="#form_<?php echo $lang->code; ?>-element"><?php echo $lang->name; ?></a></li>                      
                    <?php endforeach; ?>
                </ul>
                <!-- start id-form -->
                <?php echo $this->pageForm; ?>
                <!-- end id-form  -->
            </div>


        </div>
        <div style="clear: both;"></div>
    </div>
</div>

<div id="crop_dialog" title="<?php echo $this->translate(_('Crop for thumbnails')); ?>"></div>
<script type="text/javascript">
    $(function() {
        $( "#tabs" ).tabs();
    });
</script>
<style type="text/css">
<?php foreach (Zend_Registry::get('langList') as $key => $lang) : ?>
        #form_<?php echo $lang->code; ?>-label {
            display: none;
        }  
<?php endforeach; ?>
    
</style>

<?php if ($this->page['thumbnail']) : ?>
    <script type="text/javascript">
        $('#delete_image-element').append('<img src="/images/page/<?php echo $this->page['thumbnail']; ?><?php echo '?tmp='.time();?>" alt="<?php echo $this->page['title']; ?>" /><br/><a id="crop" href="#" onclick="crop(); return false; "><?php echo $this->translate(_('Crop for thumbnails')); ?></a>')
        function crop()
        {
          jQuery("#crop_dialog")
          .load('/admin/default/page/crop/id/<?php echo $this->page['page_id']; ?>')
          .dialog({
              width: '<?php $getimagesize = getimagesize(APPLICATION_PATH . '/../www/images/page/' . $this->page['full']); echo  $getimagesize[0] + 250?>',
              height: 'auto',
              position: ['center', 50],
              modal: true
          });  
        };
    </script>
<?php else : ?>    
    <script type="text/javascript">
        $('#delete_image-label').hide();
        $('#delete_image-element').hide();            
    </script>
<?php endif; ?>