<?php $site_settings = Zend_Registry::get('site_settings'); ?>
<div class="breadcrumbs">
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a itemprop="url" href="<?php echo $this->url(array('lang' => $this->currentLang), 'default', true); ?>">
            <span itemprop="title"><?php echo $this->translate(_('Main')); ?></span></a>»</div>
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <span itemprop="title"><?php echo $this->page->title; ?></span>
    </div>
    <span class="clr"></span>
</div> 

<h1 class="title3"><?php echo $this->page->title; ?></h1>

<div class="text"> 
    <?php echo $this->page->body; ?>
</div>

<?php if($this->page->type == "products"):?>

    <?php //print_r($this->products)?>
			<div class="brend_list">
            	<h3 class="title4"><?php echo $site_settings['title_products']?></h3>
                
                <?php foreach($this->products as $key => $item):?>
                <div class="brend">
                	<div class="img"><img src="/images/publication/<?php echo $item->preview ?>" alt="<?php echo $item->title ?>" /></div>
                    <div class="txt_wr">
                    	<div class="arw"></div>
                        <div class="txt">
                        	<?php echo $item->body ?>
                        </div>
                    </div>
                	<div class="clear"></div>
                </div>
                <?php endforeach;?>
                                               
            </div>

<?php endif;?>
