<div class="box">
    <h4 class="white ">

        <div><?php echo $this->translate(_('Add subscription')); ?></div>
    </h4>
    <div class="box-container ">
        <div>            
            <?php echo $this->form; ?>
        </div>
    </div>
</div>

