<div class="block2">
    <h1><?php echo $this->translate(_('Subscriptions')); ?></h1>

    <div class="subscription_box">

        <form method="post" id="subscription_form" action="/user/subscription/subscribe" target="_blank"> 
            <label for="subscription_type1"><input type="radio" name="subscription_type" id="subscription_type" value="1" checked="checked"><?php echo $this->translate(_('Training')); ?> $<?php echo Payment_Model_Payment::COST_COURSE; ?> USD (<?php echo $this->translate(_('once')); ?>)</label><br>
            <label for="subscription_type2"><input type="radio" name="subscription_type"  id="subscription_type_period" value="2"><select name="subscription_type_period">
                    <option value="2"><?php echo $this->translate(_('Trading terminal')); ?> $<?php echo Payment_Model_Payment::COST_TERMINAL_MONTH; ?> USD (<?php echo $this->translate(_('monthly')); ?>)</option>
                    <option value="20"><?php echo $this->translate(_('Trading terminal')); ?> $<?php echo Payment_Model_Payment::COST_TERMINAL_6MONTH; ?> USD (<?php echo $this->translate(_('every 6 months')); ?>)</option>
                    <option value="21"><?php echo $this->translate(_('Trading terminal')); ?> $<?php echo Payment_Model_Payment::COST_TERMINAL_YEAR; ?> USD (<?php echo $this->translate(_('yearly')); ?>)</option>
                </select></label><br>
            <br>
            <h5><?php echo $this->translate(_('Payment System')); ?>:</h5>
            <label><input type="radio" name="payment_system" value="paypal" checked="checked"><img alt="Paypal" src="/layout/paypal.gif"> <span>Paypal</span></label><br>
            <label><input type="radio" name="payment_system" value="interkassa" ><img alt="Paypal" src="/layout/interkassa.png"> <span>Interkassa</span></label><br>
            <input type="submit" value="<?php echo $this->translate(_('Subscribe')); ?>">
        </form>
    </div>
    <div class="payment_history_box">
        <?php if(0 != count($this->payment_history)): ?>
        <h3><?php echo $this->translate(_('Your payment history')); ?></h3>        
        <table>
            <tbody>
                <tr>    
                    <th><?php echo $this->translate(_('Product name')); ?></th>
                    <th colspan="2"><?php echo $this->translate(_('Period')); ?></th>
                    <th><?php echo $this->translate(_('Payment System')); ?></th>
                    <th><?php echo $this->translate(_('Amount')); ?></th>
                </tr>
                <?php foreach ($this->payment_history as $item): ?>
                    <tr>
                        <td>
                            <?php echo $this->Escape($item->product_name); ?>                   
                        </td>
                        <td nowrap="nowrap"><?php echo $this->Escape(date('d-m-Y', strtotime($item->subscription_date_start))); ?></td>
                        <td nowrap="nowrap"><?php echo '0000-00-00 00:00:00' != $item->subscription_date_end ? $this->Escape(date('d-m-Y', strtotime($item->subscription_date_end))) : ' - '; ?></td>
                        <td>
                            <?php echo $this->Escape($item->system); ?> 
                        </td>
                        <td style="text-align: right"><?php echo $this->Escape($item->amount); ?> &nbsp;</td>                        
                    </tr>
                <?php endforeach; ?>

            </tbody>
        </table>
        <?php endif; ?>

    </div>
</div>

<script type="text/javascript">
    /* $(document).ready(function(){
        $("input[@name='subscription_type']").checked(function() {
            if (2 == $("input[@name='subscription_type']:checked").val()) {
                $("input[@name='subscription_type_period']").hide();
            }
            else {
                $("input[@name='subscription_type_period']").show();
            }

        }).checked();
    });*/
</script>