		@font-face {
				font-family: 'NeoSansPro-Regular';
				src: url('neosanspro-regular.eot');
				src: url('neosanspro-regular.eot?#iefix') format('embedded-opentype'),
					 url('neosanspro-regular.woff') format('woff'),
					 url('neosanspro-regular.ttf') format('truetype'),
					 url('neosanspro-regular.svg#neosanspro-regular') format('svg');
				font-weight: normal;
				font-style: normal;
		}
		
		@font-face {
				font-family: 'NeoSansPro-Bold';
				src: url('neosanspro-bold.eot');
				src: url('neosanspro-bold.eot?#iefix') format('embedded-opentype'),
					 url('neosanspro-bold.woff') format('woff'),
					 url('neosanspro-bold.ttf') format('truetype'),
					 url('neosanspro-bold.svg#neosanspro-bold') format('svg');
				font-weight: normal;
				font-style: normal;
		}
		
		@font-face {
				font-family: 'NeoSansPro-Italic';
				src: url('neosanspro-italic.eot');
				src: url('neosanspro-italic.eot?#iefix') format('embedded-opentype'),
					 url('neosanspro-italic.woff') format('woff'),
					 url('neosanspro-italic.ttf') format('truetype'),
					 url('neosanspro-italic.svg#neosanspro-italic') format('svg');
				font-weight: normal;
				font-style: normal;
		}
		
		@font-face {
				font-family: 'NeoSansPro-BoldItalic';
				src: url('neosanspro-bolditalic.eot');
				src: url('neosanspro-bolditalic.eot?#iefix') format('embedded-opentype'),
					 url('neosanspro-bolditalic.woff') format('woff'),
					 url('neosanspro-bolditalic.ttf') format('truetype'),
					 url('neosanspro-bolditalic.svg#neosanspro-bolditalic') format('svg');
				font-weight: normal;
				font-style: normal;
		}						
		
		
