<body>
    Здравствуйте!<br/> 
    Ответ на Ваш вопрос на сайте <?php echo $this->site; ?> <br/>
    <?php echo $this->message; ?>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    --------------------------------<br/>
    Сообщение отправлено с сайта <a href="http://<?php echo $this->site; ?>"><?php echo $this->site; ?></a> <br/>
</body>