<body>
    Здравствуйте!<br/> 
    Опубликован ответ на Ваш вопрос на сайте <?php echo $this->site; ?> <br/>
    Вы можете ознакомиться с ответом по ссылке. <a href="http://<?php echo $this->site; ?>/faq"><?php echo $this->site; ?>/faq</a>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    --------------------------------<br/>
    Сообщение отправлено с сайта <a href="http://<?php echo $this->site; ?>"><?php echo $this->site; ?></a> <br/>
</body>