<body>
    На сайте <?php echo $this->site; ?> запросили обратный звонок.<br/>       
    Имя: <?php echo $this->name; ?><br/>
    Телефон: <?php echo $this->phone; ?><br/>
    Тема: <?php echo $this->subject; ?><br/>    
    --------------------------------<br/>
    Сообщение отправлено с сайта <a href="http://<?php echo $this->site; ?>"><?php echo $this->site; ?></a> <br/>
</body>