<body>
    На сайте <?php echo $this->site; ?> заказали подключение.<br/>       
    Название предприятия или Ф.И.О. физ. лица: <?php echo $this->name; ?><br/>
    Должность: <?php echo $this->position; ?><br/>
    Телефон: <?php echo $this->phone; ?><br/>
    Email: <?php echo $this->email; ?><br/>    
    Услуга: <?php echo $this->service; ?><br/>
    &nbsp;&nbsp;&nbsp;Скорость подключения Мбит/сек: <?php echo $this->speed; ?><br/>
    &nbsp;&nbsp;&nbsp;или <br/>
    &nbsp;&nbsp;&nbsp;Количество требуемых номеров: <?php echo $this->numbers; ?><br/>
    &nbsp;&nbsp;&nbsp;Количество требуемых линий: <?php echo $this->lines; ?><br/>
    Адрес подключения услуги: <?php echo $this->address; ?><br/>
 
    --------------------------------<br/>
    Сообщение отправлено с сайта <a href="http://<?php echo $this->site; ?>"><?php echo $this->site; ?></a> <br/>
</body>