<body>
   <font face="arial, helvetica,sans-serif" color="#4F4F4F" ><h1 style="font-size: 24px; line-height: 30px; padding: 0 0 5px; font-weight:normal; font-style: italic;">Новое сообщение с обратной связи на сайте <?php echo $this->site; ?></h1>       
    <span style="font-size:14px;">

    <?php if(!empty($this->fio)): ?>
    <?php echo $this->translate("FIO")?>: <?php echo $this->fio; ?><br/>
    <?php endif; ?>

    <?php if(!empty($this->firstname)): ?>
    <?php echo $this->translate("Firstname")?>: <?php echo $this->firstname; ?><br/>
    <?php endif; ?>
    
    <?php if(!empty($this->lastname)): ?>
    <?php echo $this->translate("Lastname")?>: <?php echo $this->lastname; ?><br/>
    <?php endif; ?>

    <?php if(!empty($this->city)): ?>
    <?php echo $this->translate("City")?>: <?php echo $this->city; ?><br/>
    <?php endif; ?>
    
    <?php if(!empty($this->email)): ?>
    <?php echo $this->translate("Email")?>: <?php echo $this->email; ?><br/>
    <?php endif; ?>
    
    <?php if(!empty($this->phone)): ?>
    <?php echo $this->translate("Phone")?>: <?php echo $this->phone; ?><br/>
    <?php endif; ?>
    
    <?php if(!empty($this->subject)): ?>
    <?php echo $this->translate("Subject")?>: <?php echo $this->subject; ?><br/>
    <?php endif; ?>
    
    <?php if(!empty($this->message)): ?>
    <?php echo $this->translate("Message")?>: <br/>
    <?php echo $this->message; ?><br/>
    <?php endif; ?>
    
    <br/>
    --------------------------------<br/>
    <?php echo $this->translate("Message sent from site")?> <a href="http://<?php echo $this->site; ?>"><?php echo $this->site; ?></a> <br/>
    
    </span>
    </font>
    
    
    
</body>