<body>
    <font face="arial, helvetica,sans-serif" color="#4F4F4F" >
    <h1 style="font-size: 24px; line-height: 30px; padding: 0 0 5px; font-weight:normal; font-style: italic;">Здравствуйте. Сообщение от сайта <?php echo $this->site; ?></h1>

    <span style="font-size:14px;">    

        Ваш заказ №<?php echo $this->order_id ?> <?php echo strtolower($this->translate($this->status)); ?><br/>   

        <?php if($this->is_privat24): ?>
            Для оплаты заказа Вам необходимо перейти в заказ <a href="http://<?php echo $this->site; ?>/catalog/order/view/orderId/<?php echo $this->order_id ?>">http://<?php echo $this->site; ?>/catalog/order/view/orderId/<?php echo $this->order_id ?></a> 
            и нажать кнопку "Оплатить".
        <?php endif; ?>
        
        <br/>
        <?php if ('' != $this->admin_comment): ?>
            Комментарий администратора:<br/>
            <i><?php echo $this->admin_comment; ?></i><br/>   
            <br/>   
        <?php endif; ?>
        --------------------------------<br/>
        Сообщение отправлено с сайта <a href="http://<?php echo $this->site; ?>"><?php echo $this->site; ?></a> <br/>
    </span>
    </font>
</body>