<body>
	<font face="arial, helvetica,sans-serif" color="#4F4F4F" ><h1 style="font-size: 24px; line-height: 30px; padding: 0 0 5px; font-weight:normal; font-style: italic;">Новый отзыв на сайте <?php echo $this->site; ?></h1> 
    <span style="font-size:14px;">              
    
    <?php if(!empty($this->user_name)): ?>
    <?php echo $this->translate("Firstname")?>: <?php echo $this->user_name; ?><br/>
    <?php endif; ?>
    
    <?php if(!empty($this->date)): ?>
    <?php echo $this->translate("Date")?>: <?php echo $this->date; ?><br/>
    <?php endif; ?>
    
        <?php if(!empty($this->user_email)): ?>
    <?php echo $this->translate("Email")?>: <?php echo $this->user_email; ?><br/>
    <?php endif; ?>
    
    <?php if(!empty($this->comment)): ?>
    <?php echo $this->translate("Comment")?>: <br/>
    <?php echo $this->comment; ?><br/>
    <?php endif; ?>
    
    <br/>
    --------------------------------<br/>
    <?php echo $this->translate("Message sent from site")?> <a href="http://<?php echo $this->site; ?>"><?php echo $this->site; ?></a> <br/>    
    </span>
    </font>
</body>