<body>
    Здравствуйте, <?php echo $this->firstname; ?>!<br/> 
    
    <?php 
    $name = "Новость";
    if($this->group == 'actions')  // actions || news
        $name = "Акция";
    ?>
    <?php echo $name;?>: <a href="http://<?php echo $this->site; ?>/ru/publication/view/<?php echo $this->group?>/<?php echo $this->data['ident'];?>">
                 <?php echo $this->data['title_ru'];?>
             </a><br/>
    <?php echo $this->data['date_post'];?><br/>
    <?php echo $this->truncate(strip_tags($this->data['body_ru']), 350, ' ');?><br/>
    
    <br/><br/>
    --------------------------------<br/>
    Сообщение отправлено с сайта <a href="http://<?php echo $this->site; ?>"><?php echo $this->site; ?></a> <br/>
</body>