<body>
<font face="arial, helvetica,sans-serif" color="#4F4F4F" >
    <h1 style="font-size: 24px; line-height: 30px; padding: 0 0 5px; font-weight:normal; font-style: italic;">Здравствуйте. Спасибо за регистрацию на сайте <?php echo $this->site; ?></h1>
    
     <span style="font-size:14px;"> 
	<?php /* В течение 3-х суток вас активирует администратор. И Вы успешно сможете войти.*/?><br/> <br/>
    Ваши учетные данные:<br/>
    Имя: <?php echo $this->firstname; ?><br/>
    Фамилия: <?php echo $this->lastname; ?><br/>
    Email: <?php echo $this->email; ?><br/>
    <br/>
    <?php /*
    Пожалуйста, подтвердите вашу регистрацию по следующей ссылке:
    <a href="http://<?php echo $this->site; ?>/user/auth/confirm/hash/<?php echo $this->confirmation_hash; ?>">http://<?php echo $this->site; ?>/user/auth/confirm/hash/<?php echo $this->confirmation_hash; ?></a><br/>
    <br/>*/?>
    --------------------------------<br/>
    Сообщение отправлено с сайта <a href="http://<?php echo $this->site; ?>"><?php echo $this->site; ?></a> <br/>
    </span>
    </font>
</body>