<body>
    Здравствуйте!<br/> 
    Спасибо, что подписались на наш сайт. Срок действия Вашей подписки - до <?php echo date('d-m-Y', strtotime($this->subscription_date_end)); ?><br/>
    <br/>
    Название подписки: <?php echo $this->subscription_name; ?><br/>
    Стоимость подписки: $<?php echo $this->amount; ?><br/>
     <br/>    
    --------------------------------<br/>
    Сообщение отправлено с сайта <a href="http://<?php echo $this->site; ?>"><?php echo $this->site; ?></a> <br/>
</body>