<body>
    Здравствуйте!<br/> 
    Ваша подписка была отключена <?php echo date('d-m-Y', strtotime($this->subscription_date_end)); ?><br/>

        <br/>    
    --------------------------------<br/>
    Сообщение отправлено с сайта <a href="http://<?php echo $this->site; ?>"><?php echo $this->site; ?></a> <br/>
</body>