<body>
<font face="arial, helvetica,sans-serif" color="#4F4F4F" >
    <h1 style="font-size: 24px; line-height: 30px; padding: 0 0 5px; font-weight:normal; font-style: italic;">Здравствуйте. Сообщение от сайта <?php echo $this->site; ?></h1>
    
     <span style="font-size:14px;"> 
	
    <?php echo $this->translate(_('On your mail was request for password change')); ?><br/>
    <?php echo $this->translate(_('Follow this link to receive a new password')); ?>: 
        <a href="http://<?php echo $this->site . '/user/auth/forgot/hash/' . $this->forgot_hash; ?>">
            <?php echo $this->translate(_('get password')); ?>
        </a><br/>
    <br/>

    --------------------------------<br/>
    Сообщение отправлено с сайта <a href="http://<?php echo $this->site; ?>"><?php echo $this->site; ?></a> <br/>
    </span>
    </font>
</body>