<body>
	<font face="arial, helvetica,sans-serif" color="#4F4F4F" ><h1 style="font-size: 24px; line-height: 30px; padding: 0 0 5px; font-weight:normal; font-style: italic;">Зарегистрировался новый пользователь на сайте <?php echo $this->site; ?></h1> 
    <span style="font-size:14px;">      
    Имя: <?php echo $this->firstname; ?><br/>
    Фамилия: <?php echo $this->lastname; ?><br/>
    Email: <?php echo $this->email; ?><br/><br/>
    <br/>
    <br/>
    --------------------------------<br/>
    Сообщение отправлено с сайта <a href="http://<?php echo $this->site; ?>"><?php echo $this->site; ?></a> <br/>
    </span>
    </font>
</body>