<body>
    Здравствуйте!<br/> 
    Напоминаем Вам, что до окончания подписки осталось 2 недели.<br/>
    <br/>
    <a href="http://<?php echo $this->site; ?>/user/subscription">Продлить</a><br/>
    <br/>    
    --------------------------------<br/>
    Сообщение отправлено с сайта <a href="http://<?php echo $this->site; ?>"><?php echo $this->site; ?></a> <br/>
</body>